<h3 class="title"><%= l(:label_password_required) %></h3>
<p class="nodata" style="font-size: 1em;"><%= t 'sudo_mode_new_info_html' %></p>
<%= form_tag({}, remote: true) do %>

  <%= hidden_field_tag '_method', request.request_method %>
  <%= hash_to_hidden_fields @sudo_form.original_fields %>
  <%= render_flash_messages %>
  <div class="box tabular">
    <p>
      <label for="sudo_password"><%= l :field_password %><span class="required">*</span></label>
      <%= password_field_tag :sudo_password, nil, size: 25, :autocomplete => 'current-password' %>
      <br/><%= link_to l(:label_password_lost), lost_password_path, :class => "lost_password" if Setting.lost_password? %>
    </p>
  </div>

  <p class="buttons">
    <%= submit_tag l(:button_submit), onclick: "hideModal(this);"  %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>
<% end %>
