<% content_for :header_tags do %>
    <script src="/javascripts/search.js"></script>
<% end %>

<h2>Search by custom field</h2>

<div id="search_box" class="box">
    <%= form_tag({ :controller => 'search_custom_field', :action => 'index'}, :method => :get, :id => 'search-form') do %>

        <fieldset id="filters">
            <div id="query_form_content" class="hide-when-print">
                <%= render :partial => 'filters', :locals => {:query => @query, :available_filters => @available_filters}%>
            </div>
        </fieldset>

        <p><%= submit_tag l(:button_submit) %></p>
    <% end %>
</div>

<a href="#" class="btn exp-col-btn expand-btn">Expand</a>
<% if @projects and @projects.length > 0%>
    <div id="search-results">
        <% @projects.each_with_index do |p, i| %>
      	    <div class="result-header" role="tab" id="heading<%= i %>">
                <h4 class="mb-0">
                    <% url = {:controller => 'projects', :action => 'show', :id => p['id']} %>
                    <%= link_to(p['name'], url) %>
                    <a class="project" data-toggle="collapse"
                       data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>"
                       alt="Show description…" title="Show description…">
                        <i class="icon-caret-down"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse<%= i %>" class="result-info collapse" role="tabpanel" aria-labelled-by="collapse<%= i %>">
                <div class="card-block">
        	    <%= textilizable(p.short_description_without_image, :project => p) %>
                    
                    <div class="badges">
                        <%= getEndorsementBadge(p) %>
                        <%= getCurationBadge(p) %>
        	        <%= getSimulatorBadges(p) %>
                    </div>
        	    
        	    <% tags=getCustomField(p,'Tag') %>
        	    <% if tags!=nil and tags!='' and tags!=[nil] %>
		        <div><%= getBadge(p, 'Tag', '', '', '', 'label label-success') %></div>
		    <% end %>

		    <div class="last-updated">
		        <b>Last updated:</b> <%= format_time(p['updated_on']) %>
        	    </div>	

                </div>
            </div>
        <% end %>
            </div>

</div>
<% else %>
    <div>
        <b>Your search criteria did not match any projects. Try fewer filters or different keywords.</b>
    </div>
<% end %>

