<h2>Search by custom field</h2>

<div id="search_box" class="box">
<%= form_tag({ :controller => 'search_custom_field', :action => 'index'}, :method => :get, :id => 'search-form') do %>

<fieldset id="filters">
  <div>
    <%= render :partial => 'filters', :locals => {:query => @query, :available_filters => @available_filters}%>
  </div>
</fieldset>


<p><%= submit_tag l(:button_submit) %></p>
<% end %>
</div>

<% if @projects %>
    <dl id="search-results">
      <% @projects.each do |p| %>
        <dt>
          <% url = {:controller => 'projects', :action => 'show', :id => p['id']} %>
          <%= link_to(p['name'], url) %>
        </dt>
        <dd><span class="description"><%= p['description'] %></span>
        <span class="author"><%= format_time(p['updated_on']) %></span></dd>
      <% end %>
    </dl>
<% end %>

