<h2>Search by custom field</h2>

<div id="search_box" class="box">
<%= form_tag({ :controller => 'search_custom_field', :action => 'index'}, :method => :get, :id => 'search-form') do %>

<fieldset id="filters">
  <div>
    <%= render :partial => 'filters', :locals => {:query => @query, :available_filters => @available_filters}%>
  </div>
</fieldset>


<p><%= submit_tag l(:button_submit) %></p>
<% end %>
</div>

<% if @projects %>
    <dl id="search-results">
      <% @projects.each do |p| %>
        <dt>
          <% url = {:controller => 'projects', :action => 'show', :id => p['id']} %>
          <%= link_to(p['name'], url) %>
        </dt>
        <dd style="margin-bottom:50px;">
        	<span>
        	
        	<%= textilizable(p.short_description_without_image, :project => p) %>
        	</span>
        	
        	<div>
        		<div style="float:left;margin:5px 0px;">
		        	<% if isEndorsed?(p) %>
						<%= getGeneralBadge(p, 'Endorsement', 'OSB endorsed project', 'This project is endorsed by OSB and is officially supported.', '', 'label label-success') %>
		        	<% else %>
		        		<% category =  getCustomField(p,"Category")  %>
						<% isAProject = (category=="Project" or category=="Showcase") %>
			        	<% if isAProject %>
							<%= getGeneralBadge(p, 'Endorsement', 'User project', 'This is a personal user project and has not yet been endorsed by OSB. Please get in contact (info@opensourcebrain.org) to have this project endorsed!', '', 'label label-warning') %>
						<% end %>
					<% end %>	
				</div>
        	</div>

        	<div style="clear:both;">
        		<div style="float:left;margin:5px 0px;"><%= getStatusBadges(p, false) %></div>
        	</div>
        	
        	
        	<% tags=getCustomField(p,'Tag') %>
        	<% if tags!=nil and tags!=[nil] %>
				<div style="clear:both;">
					<div style="float:left;margin:5px 0px;"><%= getGeneralBadge(p, 'Tag', '', '', '', 'label label-success') %></div>
				</div>
			<% end %>
			
			<div style="clear:both;">
					<div style="float:left;margin:5px 5px 0px 0px;"><b>Last updated:</b></div>
        			<div style="float:left;margin:5px 5px 0px 0px;"><%= format_time(p['updated_on']) %></div>
        	</div>		
        </dd>
      <% end %>
    </dl>
<% end %>

