<%= board_breadcrumb(@message) %>

<h2><%= avatar(@topic.author, :size => "24") %><%=h @topic.subject %></h2>

<%= form_for @message, {
               :as => :message,
               :url => {:action => 'edit'},
               :html => {:multipart => true,
                         :id => 'message-form',
                         :method => :post}
          } do |f| %>
  <%= render :partial => 'form',
             :locals => {:f => f, :replying => !@message.parent.nil?} %>
  <%= submit_tag l(:button_save) %>
  <%= preview_link({:controller => 'messages', :action => 'preview', :board_id => @board, :id => @message}, 'message-form') %>
<% end %>
<div id="preview" class="wiki"></div>
