<div class="contextual">
<%= link_to_function l(:label_custom_field_new), "location.href = '#{new_custom_field_path}?tab=' + encodeURIComponent(($('.tabs a.selected').attr('id')||'').split('tab-').pop())", :class => 'icon icon-add' %>
</div>

<%= title l(:label_custom_field_plural) %>

<% if @custom_fields_by_type.present? %>
  <%= render_custom_fields_tabs(@custom_fields_by_type.keys) %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= javascript_tag do %>
  $(function() { $("table.custom_fields tbody").positionedItems(); });
<% end %>