<%= call_hook(:view_repositories_show_contextual, { :repository => @repository, :project => @project }) %>

<div class="contextual">
  <%= render :partial => 'navigation' %>
</div>

<h2><%= render :partial => 'breadcrumbs', :locals => { :path => @path, :kind => 'file', :revision => @rev } %></h2>

<%= render :partial => 'link_to_functions' %>

<% if Redmine::MimeType.is_type?('image', @path) %>
  <%= render :partial => 'common/image', :locals => {:path => url_for(:action => 'raw',
                                                                      :id     => @project,
                                                                      :repository_id => @repository.identifier_param,
                                                                      :path   => @path,
                                                                      :rev    => @rev), :alt => @path} %>
<% elsif @content %>
  <%= render :partial => 'common/file', :locals => {:filename => @path, :content => @content} %>
<% else %>
  <% kind = if Redmine::MimeType.is_type?('video', @path)
       'video'
     elsif Redmine::MimeType.is_type?('audio', @path)
       'audio'
     end %>
  <%= render :partial => 'common/other',
             :locals => {
               :path => (url_for(params.merge(:action => 'raw')) if @allow_download),
               :kind => kind,
               :download_link => @repository.supports_cat? ? link_to(
                 l(:label_no_preview_download),
                 { :action => 'raw', :id => @project,
                   :repository_id => @repository.identifier_param,
                   :path => to_path_param(@path),
                   :rev => @rev },
                :class => 'icon icon-download') : nil } %>
<% end %>

<span class="pagination filepreview">
  <%= render_pagination %>
</span>

<% content_for :header_tags do %>
<%= stylesheet_link_tag "scm" %>
<% end %>
