<div class="contextual">
  &#171;
  <% unless @changeset.previous.nil? -%>
    <%= link_to_revision(@changeset.previous, @repository,
      :text => l(:label_previous), :accesskey => accesskey(:previous)) %>
  <% else -%>
    <%= l(:label_previous) %>
  <% end -%>
|
  <% unless @changeset.next.nil? -%>
    <%= link_to_revision(@changeset.next, @repository,
      :text => l(:label_next), :accesskey => accesskey(:next)) %>
  <% else -%>
    <%= l(:label_next) %>
  <% end -%>
  &#187;&nbsp;

  <%= form_tag({:controller => 'repositories',
               :action     => 'revision',
               :id         => @project,
               :repository_id => @repository.identifier_param,
               :rev        => nil},
               :method     => :get) do %>
    <%= text_field_tag 'rev', @rev, :size => 8 %>
    <%= submit_tag 'OK', :name => nil %>
  <% end %>
</div>

<%= render :partial => 'changeset' %>

<% if User.current.allowed_to?(:browse_repository, @project) %>
<ul id="changes-legend">
<li class="change change-A"><%= l(:label_added)    %></li>
<li class="change change-M"><%= l(:label_modified) %></li>
<li class="change change-C"><%= l(:label_copied)   %></li>
<li class="change change-R"><%= l(:label_renamed)  %></li>
<li class="change change-D"><%= l(:label_deleted)  %></li>
</ul>

<div class="changeset-changes">
<%= render_changeset_changes %>
</div>
<% end %>

<% content_for :header_tags do %>
<%= stylesheet_link_tag "scm" %>
<% end %>

<%
  title = "#{l(:label_revision)} #{format_revision(@changeset)}"
  title << " - #{@changeset.comments.truncate(80)}"
  html_title(title)
 -%>
