<h2><%= l(:label_statistics) %></h2>

<% url_per_month = url_for(controller: 'repositories', action: 'graph', id: @project, repository_id: @repository.identifier_param, graph: "commits_per_month") %>
<div class="repository-graph"
     data-controller="repositories--stats"
     data-repositories--stats-url-value="<%= url_per_month %>"
     data-repositories--stats-revision-value="<%= l(:label_revision_plural) %>"
     data-repositories--stats-change-value="<%= l(:label_change_plural) %>"
     data-repositories--stats-title-value="<%= l(:label_commits_per_month) %>">
  <canvas id="commits_per_month" data-repositories--stats-target="canvas"></canvas>
</div>

<% url_per_author = url_for(controller: 'repositories', action: 'graph', id: @project, repository_id: @repository.identifier_param, graph: "commits_per_author") %>
<div class="repository-graph"
     data-controller="repositories--stats"
     data-repositories--stats-url-value="<%= url_per_author %>"
     data-repositories--stats-revision-value="<%= l(:label_revision_plural) %>"
     data-repositories--stats-change-value="<%= l(:label_change_plural) %>"
     data-repositories--stats-title-value="<%= l(:label_commits_per_author) %>">
  <canvas id="commits_per_author" data-repositories--stats-target="canvas"></canvas>
</div>

<p><%= link_to l(:button_back), :action => 'show', :id => @project %></p>

<% html_title(l(:label_repository), l(:label_statistics)) -%>
