<h2><%= l(:label_search) %></h2>

<div id="search_box" class="box">
<%= form_tag({}, :method => :get, :id => 'search-form') do %>

<p><%= text_field_tag 'q', @question, :size => 60, :id => 'search-input' %>
<%= project_select_tag %>
<%= hidden_field_tag 'all_words', '', :id => nil %>
<label class="inline-element"><%= check_box_tag 'all_words', 1, @all_words %> <%= l(:label_all_words) %></label>
<%= hidden_field_tag 'titles_only', '', :id => nil %>
<label class="inline-element"><%= check_box_tag 'titles_only', 1, @titles_only %> <%= l(:label_search_titles_only) %></label>
</p>

<p id="search-types">
<% @object_types.each do |t| %>
<label><%= check_box_tag t, 1, @scope.include?(t) %> <%= type_label(t) %></label>
<% end %>
</p>

<p><%= submit_tag l(:button_submit) %></p>
<% end %>
</div>

<% if @results %>
    <div id="search-results-counts">
      <%= render_results_by_type(@results_by_type) unless @scope.size == 1 %>
    </div>
    <h3><%= l(:label_result_plural) %> (<%= @results_by_type.values.sum %>)</h3>
    <dl id="search-results">
      <% @results.each do |e| %>
        <% p = e.project %>
        <div>
        <dt class="<%= e.event_type %>">
          <%= content_tag('span', h(e.project), :class => 'project') unless @project == e.project %>
          <%= link_to(highlight_tokens(e.event_title.truncate(255), @tokens), e.event_url) %>
        </dt>
        <dd class="searchDD">
        	<span class="description"><%= textilizable(highlight_tokens(e.event_description, @tokens), :project => p) %></span>
        	
        	<div>
				<div><i>Project description:<%= textilizable(p.short_description_without_image, :project => p) %></i></div>
        	</div>	
        	
        	<div>
        		<div>
		        	<% if isBestPractice?(p) %>
						<%= getGeneralBadge(p, 'Endorsement', 'OSB best practice project', 'This project is endorsed by OSB and has been identified as fulfilling OSB best practices for projects.', '', 'label label-success') %>
						<%= getTooltipedBadge(p,'Curation level','Curation against published models','How well does the curated NeuroML/PyNN version of this model reproduce published models? See Status for more details.') %>
		        	<% elsif isEndorsedNotBestPractice?(p) %>
						<%= getGeneralBadge(p, 'Endorsement', 'OSB endorsed project', 'This project is endorsed by OSB and is officially supported.', '', 'label label-info') %>
						<%= getTooltipedBadge(p,'Curation level','Curation against published models','How well does the curated NeuroML/PyNN version of this model reproduce published models? See Status for more details.') %>
		        	<% else %>
		        		<% category =  getCustomField(p,"Category")  %>
						<% isAProject = (category=="Project" or category=="Showcase") %>
			        	<% if isAProject %>
							<%= getGeneralBadge(p, 'Endorsement', 'User project', 'This is a personal user project and has not yet been endorsed by OSB. Please get in contact (info@opensourcebrain.org) to have this project endorsed!', '', 'label label-warning') %>
						<% end %>
					<% end %>	
				</div>
        	</div>

        	<div>
        		<div><%= getStatusBadges(p, false) %></div>
        	</div>
        	
        	<% tags=getCustomField(p,'Tag') %>
        	<% if tags!=nil and tags!='' %>
				<div>
					<div><%= getGeneralBadge(p, 'Tag', '', '', '', 'label label-success') %></div>
				</div>
			<% end %>

			<div>
				<div><b>Last updated:</b></div>
				<div><%= format_time(e.event_datetime) %></div>
        	</div>	
        
        </dd>
        </div>
      <% end %>
    </dl>
<% end %>

<p class="pagination">
<% if @pagination_previous_date %>
<%= link_to_content_update("\xc2\xab " + l(:label_previous),
      params.merge(:previous => 1,
                   :offset => @pagination_previous_date.strftime("%Y%m%d%H%M%S"))) %>&nbsp;
<% end %>
<% if @pagination_next_date %>
<%= link_to_content_update(l(:label_next) + " \xc2\xbb",
      params.merge(:previous => nil,
                   :offset => @pagination_next_date.strftime("%Y%m%d%H%M%S"))) %>
<% end %>
</p>

<% html_title(l(:label_search)) -%>

<%= javascript_tag do %>
$("#search-types a").click(function(e){
  e.preventDefault();
  $("#search-types input[type=checkbox]").attr('checked', false);
  $(this).siblings("input[type=checkbox]").attr('checked', true);
  if ($("#search-input").val() != "") {
    $("#search-form").submit();
  }
});
<% end %>
