<%= error_messages_for 'article' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery.tagit', :plugin => 'redmine_knowledgebase' %>
  <%= javascript_include_tag 'tag-it.min.js', :plugin => 'redmine_knowledgebase' %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
      $("#article_tag_list").tagit({
        singleField: true,
        availableTags: [ <% @tags.each do |tag| %>"<%= tag %>",<% end %> ]
      });
    });
</script>


<div class="box tabular">
<p>
<label for="category_id"><%= l(:label_category) %></label>
<%= select_tag :category_id, options_for_select(nested_set_options(@categories) {|i| "#{'»' * i.level} #{i.title}" }, @article.category_id) %><br />
</p>
<p><%= f.text_field :title, :size => 60, :label => l(:label_title), :required => true %></p>

<% unless redmine_knowledgebase_settings_value(:disable_article_summaries) %>
  <p><%= f.text_area :summary, :cols => 60, :rows => 5, :label => l(:label_summary) %></p>
<% end %>

<p><%= f.text_area :content, :cols => 60, :rows => 15, :class => 'wiki-edit', :label => l(:label_content) %></p>

<p><%= f.text_field :tag_list, :size => 80, :value => "#{@article.tag_list.join(",")}" %></p>

<p><%= f.text_field :version_comments, :size => 120, :label => l(:field_version_comments) %></p>
</div>

<% if @article.attachments.exists? %>
<div class="box">
  <p><label><%= l(:label_attachment_plural) %></label>
    <%= link_to_attachments @article,
	:thumbnails => true,
        :author => false %>
  </p>
</div>
<% end %>

<% if redmine_knowledgebase_settings_value(:show_thumbnails_for_articles) %>
  <p><%= l(:thumbnail_explanation) %></p>
<% end %>


<div class="box">
<p><label><%=l(:label_attachment_add)%></label><%= render :partial => 'attachments/form' %></p>
</div>

<%= wikitoolbar_for 'article_content', preview_articles_path(project_id: @project, id: @article) %>
