<% if issues && issues.any? %>
<%= form_tag({}) do %>
  <table class="list list-simple issues">
    <thead><tr>
    <th class="id">#</th>
    <th class="project"><%=l(:field_project)%></th>
    <th class="status"><%=l(:field_status)%></th>
    <th class="subject"><%=l(:field_subject)%></th>
    </tr></thead>
    <tbody>
    <% for issue in issues %>
    <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
      <td class="id">
        <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
        <%= link_to("#{issue.tracker} ##{issue.id}", issue_path(issue)) %>
      </td>
      <td class="project"><%= link_to_project(issue.project) %></td>
      <td class="status"><%= issue.status %></td>
      <td class="subject">
        <span><%= link_to(issue.subject, issue_path(issue)) %></span>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
