<!-- to support view override using hooks -->
<% call_hook(:view_issues_edit_view_override) %>

<% if @view_issues_edit_view_override[:assets].present? %>
  <% @view_issues_edit_view_override[:assets].each do |hook_assets| %>
    <%= hook_assets.html_safe %>
  <% end %>
<% end %>

<% if @view_issues_edit_view_override[:content].present? %>
  <%= @view_issues_edit_view_override[:content] %>
<% else %>
  <h2><%= "#{@issue.tracker_was} ##{@issue.id}" %></h2>

  <%= render :partial => 'edit' %>
  <% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
  <% end %>
<% end %>
