<div class="row">
	<div class="btn-toolbar pull-right">
	    <% other_formats_links do |f| %>
			<div class="btn-group">
				<a href='issues/new' class="btn icon-plus"> New Issue</a>
		  	</div>
		  	<div class="btn-group">
			  	<a class="btn dropdown-toggle icon-share" data-toggle="dropdown" href="#"> Export <span class="caret"></span></a>
	          	<ul class="dropdown-menu">
	            	<li><%= f.link_to 'CSV', :url => params, :onclick => "showModal('csv-export-options', '330px'); return false;", :caption=>"CSV" %></li>
	            	<li><%= f.link_to 'PDF', :url => params, :caption=>"PDF" %></li>
	          	</ul>
          	</div>
          	<div class="btn-group">
		  		<%= f.link_to 'Atom', {:url => params.merge(:from => nil, :key => User.current.rss_key),:class=>"btn icon-rss btn-rss", :caption=>" News feed"}%>
		  	</div>	
		<% end %>
	</div>
</div>
    
<div class="contextual">
<% if !@query.new_record? && @query.editable_by?(User.current) %>
  <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit' %>
  <%= delete_link query_path(@query) %>
<% end %>
</div>

<% html_title(@query.new_record? ? l(:label_issue_plural) : @query.name) %>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle icon-filter" data-toggle="collapse" data-parent="#accordion2" href="#issuesfilter">
        Filter
      </a>
    </div>
    <div id="issuesfilter" class="accordion-body collapse">
      <div class="accordion-inner">
		<%= form_tag({ :controller => 'issues', :action => 'index', :project_id => @project }, :method => :get, :id => 'query_form', :class=>"") do %>
		    <%= hidden_field_tag 'set_filter', '1' %>
		    <div id="query_form_content" class="hide-when-print">
			    <fieldset id="filters">
			      <div style="<%= @query.new_record? ? "" : "display: none;" %>">
			        <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
			      </div>
			    </fieldset>
			    <fieldset>
			      <div style="display: none;">
			        <table>
			          <tr>
			            <td><%= l(:field_column_names) %></td>
			            <td><%= render :partial => 'queries/columns', :locals => {:query => @query} %></td>
			          </tr>
			          <tr>
			            <td><label for='group_by'><%= l(:field_group_by) %></label></td>
			            <td><%= select_tag('group_by',options_for_select([[]] + @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},@query.group_by)) %></td>
			          </tr>
			          <tr>
			            <td><%= l(:button_show) %></td>
			            <td><%= available_block_columns_tags(@query) %></td>
			          </tr>
			        </table>
			      </div>
			    </fieldset>
		    </div>
		<% end %>
		
	    <div class="row-fluid">
		    <div class="btn-group hide-when-print pull-right">
			    <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'btn icon icon-checked' %>
			    <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'btn icon icon-reload'  %>
			    <% if @query.new_record? && User.current.allowed_to?(:save_queries, @project, :global => true) %>
			        <%= link_to_function l(:button_save),
			                             "$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }'); submit_query_form('query_form')",
			                             :class => 'btn icon icon-save' %>
			    <% end %>
		    </div>
		</div>
		
		<%= error_messages_for 'query' %>
      </div>
    </div>
  </div>
</div>  
 
<% if @query.valid? %>
<% if @issues.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>
<div class="pagination">
  <ul><%= pagination_links_full @issue_pages, @issue_count %></ul>
</div>
<% end %>


<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= form_tag(params.merge({:format => 'csv',:page=>nil}), :method => :get, :id => 'csv-export-form') do %>
  <p>
    <label><%= radio_button_tag 'columns', '', true %> <%= l(:description_selected_columns) %></label><br />
    <label><%= radio_button_tag 'columns', 'all' %> <%= l(:description_all_columns) %></label>
  </p>
  <p>
    <label><%= check_box_tag 'description', '1', @query.has_column?(:description) %> <%= l(:field_description) %></label>
  </p>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);", :class =>"btn" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :class =>"btn", :type => 'button' %>
  </p>
  <% end %>
</div>

<% end %>
<%= call_hook(:view_issues_index_bottom, { :issues => @issues, :project => @project, :query => @query }) %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>

<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom,
                                {:query_id => @query, :format => 'atom',
                                 :page => nil, :key => User.current.rss_key},
                                :title => l(:label_issue_plural)) %>
    <%= auto_discovery_link_tag(:atom,
                                {:controller => 'journals', :action => 'index',
                                 :query_id => @query, :format => 'atom',
                                 :page => nil, :key => User.current.rss_key},
                                :title => l(:label_changes_details)) %>
<% end %>


