<h2><%=l 'twofa_label_backup_codes' -%></h2>

<div class="splitcontentleft">
  <div class="box">
    <p><%=l 'twofa_text_backup_codes_hint' -%></p>
    <ul class="twofa_backup_codes">
    <% @backup_codes.each do |code| -%>
      <li><code><%= code.scan(/.{4}/).join(' ') -%></code></li>
    <% end -%>
    </ul>
    <p><em class="info"><%=l 'twofa_text_backup_codes_created_at', datetime: format_time(@created_at) -%></em></p>
  </div>
</div>

<% content_for :sidebar do %>
<%= render :partial => 'my/sidebar' %>
<% end %>
