<h2>Research Themes</h2>

<!--
<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<div class="contextual">
    <%= link_to(l(:label_project_new), {:controller => 'projects', :action => 'new'}, :class => 'icon icon-add') + ' |' if User.current.allowed_to?(:add_project, nil, :global => true) %>
    <%= link_to(l(:label_issue_view_all), issues_path) + ' |' if User.current.allowed_to?(:view_issues, nil, :global => true) %>
    <%= link_to(l(:label_overall_spent_time), time_entries_path) + ' |' if User.current.allowed_to?(:view_time_entries, nil, :global => true) %>
    <%= link_to l(:label_overall_activity),
                { :controller => 'activities', :action => 'index',
                  :id => nil } %>
</div>



<p>Themes summarise projects present in the OSB related to specific areas of neuronal modelling, e.g. a particular brain region or a disease state.</p>

<p>Offers of help to curate these are very welcome, as are suggestions for Themes to add. Please <a href="mailto:info@opensourcebrain.org">get in contact</a>.</p>

<p>&nbsp;</p>
-->
<%= render_theme_hierarchy(@projects)%>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% html_title('Research Themes') -%>
