<h1><%= l(:label_article_removed) %>: <%=h @article.title %></h1>

<ul>
<li><b><%=l(:field_article_destroyer)%>:</b> <%=h @destroyer %></li>
<li><b><%=l(:label_category)%>:</b> <%=h @article.category.title %></li>
</ul>
