<div class="contextual">
  <%= link_to_function sprite_icon('settings', l(:label_options)), "$('#timelog-settings').toggle();", :class => 'icon-only icon-settings', :title => l(:label_options) %>
</div>

<h3>
  <%= link_to l(:label_spent_time), time_entries_path(:user_id => 'me') %>
  (<%= l(:label_last_n_days, days) %>: <%= l_hours_short entries.sum(&:hours) %>)
  <%= link_to sprite_icon('time-add', l(:button_log_time)), new_time_entry_path, :class => "icon-only icon-add", :title => l(:button_log_time) if User.current.allowed_to?(:log_time, nil, :global => true) %>
</h3>


<div id="timelog-settings" style="display:none;">
  <%= form_tag(my_page_path, :remote => true) do %>
    <div class="box">
      <p>
      <label>
        <%= l(:button_show) %>:
        <%= text_field_tag 'settings[timelog][days]', days, :size => 6 %>
        <%= l(:label_day_plural) %>
      </label>
      </p>
    </div>
    <p>
      <%= submit_tag l(:button_save) %>
      <%= link_to_function l(:button_cancel), "$('#timelog-settings').toggle();" %>
    </p>
  <% end %>
</div>

<% if entries.any? %>
<%= form_tag({}, :data => {:cm_url => time_entries_context_menu_path}) do %>
<table class="list time-entries odd-even">
<thead><tr>
<th><%= l(:field_activity) %></th>
<th><%= l(:label_project) %></th>
<th><%= l(:field_comments) %></th>
<th><%= l(:field_hours) %></th>
<th></th>
</tr></thead>
<tbody>
<% entries_by_day.keys.sort.reverse_each do |day| %>
  <tr class="odd">
    <td><strong><%= day == User.current.today ? l(:label_today).titleize : format_date(day) %></strong></td>
    <td colspan="2"></td>
    <td class="hours"><em><%= html_hours(format_hours(entries_by_day[day].sum(&:hours))) %></em></td>
    <td></td>
  </tr>
  <% entries_by_day[day].each do |entry| -%>
  <tr id="time-entry-<%= entry.id %>" class="time-entry hascontextmenu">
    <td class="activity">
      <%= check_box_tag("ids[]", entry.id, false, :style => 'display:none;', :id => nil) %>
      <%= entry.activity %>
    </td>
    <td class="subject"><%= entry.project %> <%= h(' - ') + link_to_issue(entry.issue, :truncate => 50) if entry.issue %></td>
    <td class="comments"><%= entry.comments %></td>
    <td class="hours"><%= html_hours(format_hours(entry.hours)) %></td>
    <td class="buttons"><%= link_to_context_menu %></td>
  </tr>
  <% end -%>
<% end -%>
</tbody>
</table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
