<%= render :partial => 'action_menu' %>

<h2><%=l(:label_workflow)%></h2>

<%= form_tag({}, :id => 'workflow_copy_form') do %>
<fieldset class="tabular box">
<legend><%= l(:label_copy_source) %></legend>
<p>
  <label><%= l(:label_tracker) %></label>
  <%= select_tag('source_tracker_id',
                  content_tag('option', "--- #{l(:actionview_instancetag_blank_option)} ---", :value => '') +
                  content_tag('option', "--- #{ l(:label_copy_same_as_target) } ---", :value => 'any') +
                  options_from_collection_for_select(@trackers, 'id', 'name', @source_tracker && @source_tracker.id)) %>
</p>
<p>
  <label><%= l(:label_role) %></label>
  <%= select_tag('source_role_id',
                  content_tag('option', "--- #{l(:actionview_instancetag_blank_option)} ---", :value => '') +
                  content_tag('option', "--- #{ l(:label_copy_same_as_target) } ---", :value => 'any') +
                  options_from_collection_for_select(@roles, 'id', 'name', @source_role && @source_role.id)) %>
</p>
</fieldset>

<fieldset class="tabular box">
<legend><%= l(:label_copy_target) %></legend>
<p>
  <label><%= l(:label_tracker) %></label>
  <%= select_tag 'target_tracker_ids',
                  content_tag('option', "--- #{l(:actionview_instancetag_blank_option)} ---", :value => '', :disabled => true) +
                  options_from_collection_for_select(@trackers, 'id', 'name', @target_trackers && @target_trackers.map(&:id)), :multiple => true %>
</p>
<p>
  <label><%= l(:label_role) %></label>
  <%= select_tag 'target_role_ids',
                  content_tag('option', "--- #{l(:actionview_instancetag_blank_option)} ---", :value => '', :disabled => true) +
                  options_from_collection_for_select(@roles, 'id', 'name', @target_roles && @target_roles.map(&:id)), :multiple => true %>
</p>
</fieldset>
<%= submit_tag l(:button_copy) %>
<% end %>
