<%= render :partial => 'action_menu' %>

<%= title l(:label_workflow) %>

<div class="tabs">
  <ul>
    <li><%= link_to l(:label_status_transitions), workflows_edit_path(:role_id => @roles, :tracker_id => @trackers) %></li>
    <li><%= link_to l(:label_fields_permissions), workflows_permissions_path(:role_id => @roles, :tracker_id => @trackers), :class => 'selected' %></li>
  </ul>
</div>

<p><%=l(:text_workflow_edit)%>:</p>

<%= form_tag({}, :method => 'get') do %>
<p>
  <label><%=l(:label_role)%>:
  <%= options_for_workflow_select 'role_id[]', Role.sorted.select(&:consider_workflow?), @roles, :id => 'role_id', :class => 'expandable' %>
  </label>
  <a href="#" data-expands="#role_id"><%= image_tag 'bullet_toggle_plus.png' %></a>

  <label><%=l(:label_tracker)%>:
  <%= options_for_workflow_select 'tracker_id[]', Tracker.sorted, @trackers, :id => 'tracker_id', :class => 'expandable' %>
  </label>
  <a href="#" data-expands="#tracker_id"><%= image_tag 'bullet_toggle_plus.png' %></a>

  <%= submit_tag l(:button_edit), :name => nil %>

  <%= hidden_field_tag 'used_statuses_only', '0', :id => nil %>
  <label><%= check_box_tag 'used_statuses_only', '1', @used_statuses_only %> <%= l(:label_display_used_statuses_only) %></label>
</p>
<% end %>

<% if @trackers && @roles && @statuses.any? %>
  <%= stylesheet_link_tag 'divgrid' %>
  <%= javascript_include_tag 'divgrid' %>

  <script type="text/javascript">
    function toggleDivToFieldset(divId, fsClass) {
      console.log(divId + " " + fsClass);
      if (fsClass.contains("collapsed")) {
        document.getElementById(divId).style.visibility='hidden';
        document.getElementById(divId).style.position='fixed';
      } else {
        document.getElementById(divId).style.visibility='';
        document.getElementById(divId).style.position='relative';
      }
    }
  </script>

  <%= form_tag({}, :id => 'workflow_form' ) do %>
    <%= @trackers.map {|tracker| hidden_field_tag 'tracker_id[]', tracker.id, :id => nil}.join.html_safe %>
    <%= @roles.map {|role| hidden_field_tag 'role_id[]', role.id, :id => nil}.join.html_safe %>
    <%= hidden_field_tag 'used_statuses_only', params[:used_statuses_only], :id => nil %>
    <div class="autoscroll">
      <fieldset class="collapsible" style="padding: 0; margin-top: 2em; margin-bottom: 1em;">
        <legend style="padding-left: 0; background: none;">
          <%= l(:field_core_fields) %>
        </legend>
      </fieldset>
      <div id='default_fields' style="position: relative; overflow: hidden; white-space: nowrap; border-width: 1px; border-style: solid; border-color: #CCC;">
        <!-- Cell 0 -->
        <div id="g_bla" style="position: absolute; z-index: 2;">
          <div class="g_c g_h">&nbsp;</div>
        </div>
        <!-- Line 0  -->
        <div id="g_fla" style="position: absolute; left: 0px; right: 13px; overflow: hidden; z-index: 1;">
          <div style="display: inline-block; margin-right: -4px;">
            <div class="g_c g_h">&nbsp;</div>
          </div>
          <% for status in @statuses %>
            <div style="display: inline-block; margin-right: -4px;">
              <div class="g_c g_h">
                <%= status.name %>
              </div>
            </div>
          <% end %>
        </div>
        <!-- Row 0 -->
        <div id="g_fra" style="position: absolute; left: 0px; top: 0px; bottom: 13px; overflow: hidden; z-index: 1;">
          <div class="g_c">&nbsp;</div>
          <% even = false %>
          <% @fields.each do |field, name| %>
            <div class="g_c g_v<%= (even)? " g_e":" g_o" %>">
              <% even = !even %>
              <%= name %> <%= content_tag('span', '*', :class => 'required') if field_required?(field) %>
            </div>
          <% end %>
        </div>
        <!-- Body -->
        <div id="g_bda" style="width: 100%; max-height: 80vh; overflow: scroll;" onscroll="g_scroll(this, 'g_fla', 'g_fra')">
          <div style="display: inline-block; margin-right: -4px;"></div>
          <% for status in @statuses %>
            <div style="display: inline-block; margin-right: -4px;">
              <div class="g_c">&nbsp;</div>
              <% even = false %>
              <% @fields.each do |field, name| %>
                <div class="g_c<%= (even)? " g_e" : " g_o" %> <%= @permissions[status.id][field] %>" title="<%= "#{name} - #{status.name}" %>">
                  <div style="margin-top: -5px;" >
                    <% even = !even %>
                    <%= field_permission_tag(@permissions, status, field, @roles) %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  
      <% if @custom_fields.any? %>
        <fieldset class="collapsible" style="padding: 0; margin-top: 2em; margin-bottom: 1em;">
          <legend onclick="toggleFieldset(this);toggleDivToFieldset('personal_fields',this.parentNode.className);">
            <%= l(:label_custom_field_plural) %>
          </legend>
        </fieldset>
        <div id='personal_fields' style="position: relative; overflow: hidden; white-space: nowrap; border-width: 1px; border-style: solid; border-color: #CCC;">
          <!-- Cell 0 -->
          <div id="g_blb" style="position: absolute; z-index: 2;">
            <div class="g_c g_h">&nbsp;</div>
          </div>
          <!-- Line 0  -->
          <div id="g_flb" style="position: absolute; left: 0px; right: 13px; overflow: hidden; z-index: 1;">
            <div style="display: inline-block; margin-right: -4px;">
              <div class="g_c g_h">&nbsp;</div>
            </div>
            <% for status in @statuses %>
              <div style="display: inline-block; margin-right: -4px;">
                <div class="g_c g_h">
                  <%= status.name %>
                </div>
              </div>
            <% end %>
          </div>
          <!-- Row 0 -->
          <div id="g_frb" style="position: absolute; left: 0px; top: 0px; bottom: 13px; overflow: hidden; z-index: 1;">
            <div class="g_c">&nbsp;</div>
            <% even = false %>
            <% @custom_fields.each do |field| %>
              <div class="g_c g_v<%= (even)? " g_e":" g_o" %>">
                <% even = !even %>
                <%= field.name %> <%= content_tag('span', '*', :class => 'required') if field_required?(field) %>
              </div>
            <% end %>
          </div>
          <!-- Body -->
          <div id="g_bdb" style="width: 100%; max-height: 80vh; overflow: scroll;" onscroll="g_scroll(this, 'g_flb', 'g_frb')">
            <div style="display: inline-block; margin-right: -4px;"></div>
            <% for status in @statuses %>
              <div style="display: inline-block; margin-right: -4px;">
                <div class="g_c">&nbsp;</div>
                <% even = false %>
                <% @custom_fields.each do |field| %>
                  <div class="g_c<%= (even)? " g_e" : " g_o" %> <%= @permissions[status.id][field.id.to_s] %>" title="<%= "#{field.name} - #{status.name}" %>">
                    <div style="margin-top: -5px;" >
                      <% even = !even %>
                      <%= field_permission_tag(@permissions, status, field, @roles) %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end -%>
      <script> g_adjust('g_bla', 'g_fra', 'g_fla', 'g_bda'); </script>
      <script> g_adjust('g_blb', 'g_frb', 'g_flb', 'g_bdb'); </script>
    </div>
    <%= submit_tag l(:button_save) %>
  <% end %>
<% end %>

<%= javascript_tag do %>
$("a.repeat-value").click(function(e){
  e.preventDefault();
  var td = $(this).closest('td');
  var selected = td.find("select").find(":selected").val();
  td.nextAll('td').find("select").val(selected);
});

$("a[data-expands]").click(function(e){
  e.preventDefault();
  var target = $($(this).attr("data-expands"));
  if (target.attr("multiple")) {
    target.attr("multiple", false);
    target.find("option[value=all]").show();
  } else {
    target.attr("multiple", true);
    target.find("option[value=all]").attr("selected", false).hide();
  }
});

<% end %>
