<h3 class="title"><%= l(:label_user_new) %></h3>

<%= form_for(@group, :url => group_users_path(@group), :remote => true, :method => :post) do |f| %>
  <%= render :partial => 'new_users_form' %>
  <p class="buttons">
    <%= submit_tag l(:button_add) %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>
