<%= title l(:label_confirmation) %>

<%= form_tag(group_users_path(@group, :user_ids => @users.map(&:id)), method: :delete) do %>
  <%= back_url_hidden_field_tag %>
  <div class="warning">
    <p><%= simple_format l :text_users_remove_from_group_confirmation, group: content_tag('strong', @group.name) %></p>

    <% @users.each do |user| %>
      <p><strong><%= user.name %></strong> (<%= user.login %>)</p>
    <% end %>

    <p><%= l :text_users_bulk_destroy_confirm, yes: l(:general_text_Yes) %></p>
    <p><%= text_field_tag 'confirm' %></p>

  </div>

  <p>
    <%= submit_tag l(:button_delete) %>
    <%= cancel_button_tag(users_path) %>
  </p>
<% end %>
