<div class="contextual">
<%= link_to(l(:button_edit), edit_group_path(@group), :class => 'icon icon-edit') if User.current.admin? %>
</div>

<h2><%= @group.name %></h2>

<% if @group.custom_field_values.any? %>
  <ul>
    <% render_custom_field_values(@group) do |custom_field, formatted| %>
      <li><span class="label"><%= custom_field.name %>:</span> <%= formatted %></li>
    <% end %>
  </ul>
<% end %>

<h3><%= l(:label_member_plural) %></h3>
<ul>
<% @group.users.visible.each do |user| %>
    <li><%= link_to_user(user) %></li>
<% end %>
</ul>
<% html_title @group.name %>
