<%= title l(:label_confirmation) %>

<%= form_tag(bulk_destroy_users_path(ids: @users.map(&:id)), method: :delete) do %>
<div class="warning">

<p><%= simple_format l :text_users_bulk_destroy_head %></p>

<% @users.each do |user| %>
  <p><strong><%= user.name %></strong> (<%= user.login %>)</p>
<% end %>

<p><%= l :text_users_bulk_destroy_confirm, yes: l(:general_text_Yes) %></p>
<p><%= text_field_tag 'confirm' %></p>

</div>

<%= submit_tag l(:button_delete), class: 'btn-alert btn-small' %>
<% end %>
<%= button_to l(:button_lock), bulk_lock_users_path(ids: @users.map(&:id)), method: :post, class: 'btn', name: 'lock' %>
<%= link_to l(:button_cancel), users_path %>