<%= javascript_include_tag('docs.js') %>


<div class="row pull-right sidetitle" id="helpTitle">
	<div style="float: left;">
	    <% if(@path != 'Help') %>
	        <a href="/docs#Getting_Started" alt="Go to help home" title="Go to help home">
		    <i class="icon-question-sign"></i> 
		</a>
	    <% end %>
        </div>
	<%= customiseTitle(@path) %> 
</div>

<div class="row" id="docContainer">
	<div class="col-sm-2 bs-docs-sidebar">
		<ul id="project_overview_list" class="nav nav-list bs-docs-sidenav">
			
		</ul>
	
		<ul id="project_overview_list_2" class="nav nav-list bs-docs-sidenav">
			<% @helpLinks.each do |key, value| %>
			<li>
				<a href="<%= value %>"><%= key.gsub('_',' ') %></a>
			</li>
			<% end %>
		</ul>
	</div>
  
  
	<div id="project_overview_sections" class="col-sm-10">
		<% @filesDoc.each do |fileDoc| %>
			<section id="<%= getDivId(fileDoc) %>">
				<div class="page-header">
					<h2><%= customiseTitle(fileDoc, true) %></h2>
				</div>
				<%= textilizable(open(@docRepoUrl + fileDoc).read) %>
			</section>
		<% end %>
	</div>
</div>







