<% if User.current.allowed_to?(:manage_boards, @project) %>
<p><%= link_to l(:label_board_new), new_project_board_path(@project), :class => 'icon icon-add' %></p>
<% end %>

<% if @project.boards.any? %>
<div class="table-list boards">
  <div class="table-list-header">
    <div class="table-list-cell"><%= l(:label_board) %></div>
  </div>
  <%= render_boards_tree(@project.boards) do |board, level| %>
  <div class="table-list-row">
    <div class="table-list-cell name" style="padding-left: <%= 2 + level * 16 %>px">
      <%= link_to board.name, project_board_path(@project, board) %>
    </div>
    <div class="table-list-cell description"><%= board.description %></div>
    <div class="table-list-cell buttons">
    <% if User.current.allowed_to?(:manage_boards, @project) %>
      <%= reorder_handle(board) %>
      <%= link_to l(:button_edit), edit_project_board_path(@project, board), :class => 'icon icon-edit' %>
      <%= delete_link project_board_path(@project, board) %>
    <% end %>
    </div>
  </div>
  <% end %>
</div>

<%= javascript_tag do %>
  $(function() { $("div.sort-level").positionedItems(); });
<% end %>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
