<% remote_form_for :repository, @repository,
                   :url => { :controller => 'repositories', :action => 'edit', :id => @project },
                   :builder => TabularFormBuilder,
                   :lang => current_language do |f| %>

<%= error_messages_for 'repository' %>

<div class="box tabular">
<p>
<%= label_tag('repository_scm', l(:label_scm)) %><%= scm_select_tag(@repository) %>
<% if @repository && ! @repository.class.scm_available %>
  <br />
  <em><%= content_tag 'span', l(:text_scm_command_not_available), :class => 'error' %></em>
<% end %>
</p>
<% button_disabled = true %>
<% if @repository %>
<%   button_disabled = ! @repository.class.scm_available %>
<%=    repository_field_tags(f, @repository)%>
<% end %>
</div>

<div class="contextual">
<% if @repository && !@repository.new_record? %>
<%= link_to(l(:label_user_plural),
                {
                :controller => 'repositories',
                :action     => 'committers',
                :id         => @project
                },
             :class => 'icon icon-user') %>
<%= link_to(l(:button_delete), {:controller => 'repositories', :action => 'destroy', :id => @project},
            :confirm => l(:text_are_you_sure),
            :method  => :post,
            :class   => 'icon icon-del') %>
<% end %>
</div>

<%= submit_tag((@repository.nil? || @repository.new_record?) ? l(:button_create) : l(:button_save),
               :disabled => button_disabled) %>
<% end %>
