<h3 class="title"><%= l(:label_add_projects) %></h3>

<%= form_for :membership, :remote => true, :url => user_memberships_path(@principal), :method => :post do |f| %>
  <%= render :partial => 'new_form' %>
  <p class="buttons">
    <%= submit_tag l(:button_add), :name => nil %>
    <%= link_to_function l(:button_cancel), "hideModal(this);" %>
  </p>
<% end %>
