<%= error_messages_for 'enumeration' %>

<div class="box tabular">
  <p><%= f.text_field :name %></p>
  <p><%= f.check_box :active %></p>
  <p><%= f.check_box :is_default %></p>

  <% @enumeration.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :enumeration, value %></p>
  <% end %>
</div>
