<div class="attachments">
<div class="contextual">
  <%= link_to(sprite_icon('edit', l(:label_edit_attachments)),
              container_attachments_edit_path(container),
              :title => l(:label_edit_attachments),
              :class => 'icon-only icon-edit '
             ) if options[:editable] %>
  <%= link_to(sprite_icon('download', l(:label_download_all_attachments)),
              container_attachments_download_path(container),
              :title => l(:label_download_all_attachments),
              :class => 'icon-only icon-download '
             ) if attachments.size > 1 %>
</div>
<table>
<% for attachment in attachments %>
<tr>
  <td>
    <%= link_to_attachment attachment, class: 'icon icon-attachment ', icon: 'attachment' -%>
    <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
    <%= link_to_attachment attachment, class: 'icon-only icon-download ', title: l(:button_download), download: true, icon: 'download' -%>
  </td>
  <td><%= attachment.description unless attachment.description.blank? %></td>
  <td>
    <% if options[:author] %>
      <span class="author"><%= attachment.author %>, <%= format_time(attachment.created_on) %></span>
    <% end %>
  </td>
  <td>
    <% if options[:deletable] %>
      <%= link_to sprite_icon('del', l(:button_delete)), attachment_path(attachment),
                  :data => {:confirm => l(:text_are_you_sure)},
                  :method => :delete,
                  :class => 'delete icon-only icon-del ',
                  :title => l(:button_delete) %>
    <% end %>
  </td>
</tr>
<% end %>
</table>
<% if defined?(thumbnails) && thumbnails %>
  <% images = attachments.select(&:thumbnailable?) %>
  <% if images.any? %>
  <div class="thumbnails">
    <% images.each do |attachment| %>
      <div><%= thumbnail_tag(attachment) %></div>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>
