<div id="welcomepage">

	<% if not User.current.logged? %>
		<p class="title"><b>Open Source Brain</b> is a resource for sharing and collaboratively developing computational models of neural systems</p>

		<div id="quick-search">
			<%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
				<%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
				<%= text_field_tag 'q', @question, :size => 70, :placeholder=>'Search Open Source Brain',:type=>'search', :results=>5, :class => 'large', :accesskey => accesskey(:quick_search) %>
			<% end %>
		</div>

		<div>
			<div id="osblogo"></div>
			<div id="mainbuttons">
				<div id="explorebutton" onclick="location.href='/projects';">Explore Open Source Brain</div>
				<div id="signupbutton" class="register" onclick="location.href='/account/register';">Sign up
					<div class="smallcaption">Share, validate and collaborate on your models</div>
				</div>
			</div>
	<% else %>

		<h2>Welcome back <%= User.current.firstname %> </h2>
		<div class="splitcontentleft">
			<div id="explorebutton" onclick="location.href='/projects';">Explore Open Source Brain</div>
			<div class="news box">
			<h3><%= l(:label_news_latest)%></h3>
			<% if @news.any? %>
				<%= render :partial => 'news/news', :collection => @news %>
				<%= link_to l(:label_news_view_all), :controller => 'news' %>
			<% end %>
			</div>

			<% if @projects.any? %>
				<div class="projects box">
  					<h3>Latest projects added on OSB</h3>
    				<ul>
    				<% maxprjcount=3 %>
    				<% i=0 %>
			    	<% for project in @projects %>
			    		<%if(i<maxprjcount)%>
							<% @project = project %>
							<% i=i+1 %>
							<li>
							<%= link_to_project project %> (<%= format_time(project.created_on) %>)
							</li>
						<% else break;%>
						<% end %>
		    		<% end %>
			    	<% @project = nil %>
			    	</ul>
				</div>
			<% end %>
		</div>

		<div class="splitcontentright">

			<div id="quick-search">
				<%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
					<%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
					<%= text_field_tag 'q', @question, :size => 70, :placeholder=>'Search Open Source Brain',:type=>'search', :results=>5, :class => 'large', :accesskey => accesskey(:quick_search) %>
				<% end %>
			</div>

			<% unless @events_by_day.empty? %>
				<div class="issues box">
					<h3><%= link_to l(:label_activity), :controller => 'activities', :action => 'index', :id => nil, :user_id => @user, :from => @events_by_day.keys.first %></h3>
					<p><%=l(:label_reported_issues)%>: <%= Issue.count(:conditions => ["author_id=?", @user.id]) %></p>
					<div id="activity">
						<% @events_by_day.keys.sort.reverse.each do |day| %>
							<h4><%= format_activity_day(day) %></h4>
							<dl>
							<% @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
					  			<dt class="<%= e.event_type %>">
					  			<span class="time"><%= format_time(e.event_datetime, false) %></span>
					  			<%= content_tag('span', h(e.project), :class => 'project') %>
					  			<%= link_to format_activity_title(e.event_title), e.event_url %></dt>
					  			<dd><span class="description"><%= format_activity_description(e.event_description) %></span></dd>
							<% end -%>
							</dl>
						<% end -%>
					</div>
				</div>
			<% end %>

			<div class="projects box">
			<h3>Your projects</h3>
			<% if @projects.any? %>
					<%= call_hook(:view_welcome_index_left, :projects => @projects) %>
					<% unless @memberships.empty? %>
						<ul>
							<% for membership in @memberships %>
							  	<li>
							  	<%= link_to_project(membership.project) %>
								(<%=h membership.roles.sort.collect(&:to_s).join(', ') %>, <%= format_date(membership.created_on) %>)
								</li>
							<% end %>
						</ul>
					<% end %>
			<% end %>
			</div>
		</div>

		<% content_for :header_tags do %>
			<%= stylesheet_link_tag 'scm' %>
			<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},:title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
			<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},:title => "#{Setting.app_title}: #{l(:label_activity)}") %>
		<% end %>
	<% end %>
</div>
</div>

