<% if not User.current.logged? %>

<!-- HEADER -->
<div class="row-fluid">

	<div class="span6">
		<p class="big-lead">Modelling the brain, together</p>
		<p class="lead"><strong>Open Source Brain</strong> is a resource for sharing and collaboratively developing computational models of neural systems.</p>
		<p>
			<a class="btn btn-xlarge btn-info" href="/projects">
				Explore OSB
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp; 	  
			<a class="btn btn-xlarge btn-success" href="/account/register">
				Sign up
			</a>
		</p>
	</div>
	<div class="span6">
		<div id="osbcircle"></div>
	</div>
</div>
<br/><br/><br/>
<div>
  <p class="lead pagination-centered" >Read about the <a href="projects/osb/wiki/Meetings">Open Source Brain kickoff meeting</a> in Alghero, Sardinia in May 2013!</p>
</div>
<% else %>

<!-- HEADER -->
<br/></br/>
<div class="span12 pagination-centered">
<p class="welcome">
Hello  <%= User.current.firstname %>
</p>
</div>
<p class="pagination-right">
<button type="button" class="btn btn-large btn-info" onclick="location.href='/projects';">
Explore OSB
</button>
</p>


<!-- CONTENT -->
<div class="row-fluid">
	<div class="span8">
		<% unless @events_by_day.empty? %>
			<div id="activity">
				<% @actID=0 %>
				<% @events_by_day.keys.sort.reverse.each do |day| %>
					<% @actID=@actID+1 %>
					<div class="row-fluid activity-item">
					<% @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
						<% @actID=@actID+1 %>
							<div class="row-fluid activity-item">
					  			<div class="span05 <%= "E_"+e.event_type %> <%= User.current.logged? && e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil %>"></div>
						  		<div class="span11">
						  			<div class="time row-fluid" id="<%= 'T'+@actID.to_s() %>"><%= javascript_tag "jQuery('#{'#T'+@actID.to_s()}').html(moment('#{e.event_datetime}', 'YYYY-MM-DD HH:mm:ss Z').fromNow());" %></div>
						  			<div class="author row-fluid"><strong><%= link_to_user(e.event_author) if e.respond_to?(:event_author) %> edited
						  			
						  			<%= content_tag('span', h(e.project), :class => 'project-title') if @project.nil? || @project != e.project %></strong></div>
						  			<div class="row-fluid">
						  			<%= avatar(e.event_author, :size => "50", :class => "img-rounded") if e.respond_to?(:event_author) %>
						  			<%= link_to format_activity_title(e.event_title), e.event_url %>
						  			</div>
						  			<div class="row-fluid">
						  				<div class="description"><%= format_activity_description(e.event_description) %></div>
					  				</div>
					  			</div>
							</div>
					<% end -%>
					</div>
				<% end -%>
			</div>
			<% end %>
			<% if @events_by_day.empty? %>
				<p class="lead">You have no activities yet! Why don't you start by creating a new project?</p>
				<br/></br/><br/>
				<icon class="icon-coffee icon-xxxlarge"></icon>
				<icon class="icon-lightbulb icon-xxxlarge"></icon>
				<icon class="icon-beaker icon-xxxlarge"></icon>
			<% end %>
		</div>
	

		<div class="span4">
			<table class="projecttable table">
				<thead>
					<tr>
						<td><h4>Your projects </h4></td>
						<td class="noborder pull-right"><button type="button" class="btn btn-success icon-plus"  onclick="location.href='/projects/new';"> New project</button></td> 	
					<tr>
				</thead>
				<% if @projects.any? %>
					<%= call_hook(:view_welcome_index_left, :projects => @projects) %>
					<% unless @memberships.empty? %>
						
							<% for membership in @memberships %>
								<tr><td colspan="2"><icon class=" icon-list-alt"></icon><%= link_to_project(membership.project) %></td></tr>
							<% end %>
						
					<% end %>
				<% end %>
			</table>
			
			<table class="projecttable table">
				<thead>
					<tr>
						<td><h4>Latest projects added on OSB</h4></td> 	
					<tr>
				</thead>
					<% maxprjcount=3 %>
					<% i=0 %>
					<% for project in @projects %>
						<%if(i<maxprjcount)%>
							<% @project = project %>
							<% i=i+1 %>
								<tr><td><icon class=" icon-list-alt"></icon> <%= link_to_project project %></td></tr> 
						<% else break;%>
						<% end %>
					<% end %>
					<% @project = nil %>
			</table>
			
		<div>
		<div class="news box">
			<div class="pagination-centered"><icon class="icon-bullhorn icon-xxlarge"></icon></div>
			<h3><%= l(:label_news_latest)%></h3>
			<% if @news.any? %>
			<%= render :partial => 'news/news', :collection => @news %>
			<%= link_to l(:label_news_view_all), :controller => 'news' %>
			<% end %>
		</div>
	</div>
			
</div>
</div>
	
	<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'scm' %>
	<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},:title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
	<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},:title => "#{Setting.app_title}: #{l(:label_activity)}") %>
	<% end %>
<% end %>
