<% content_for :header_tags do %>
    <script src="/javascripts/welcome.js"></script>
    <script type="text/javascript">
     var updateFile = function(){
         let frame = document.getElementById("nwbExplorerFrame");
         let fileName = "https://github.com/OpenSourceBrain/NWBShowcase/raw/master/NWB/time_series_data.nwb";
         frame.contentWindow.postMessage(fileName, '*');
    }
    </script>
<% end %>
<div id="geppettoHomeContainer"></div>
<% if not User.current.logged? %>
    <!-- HEADER -->
    <div class="row-fluid indexNoUser">
	<p class="big-lead"><img src="images/osbcircle.png" class="lead-logo"/>Modelling the brain, together</p>
	<p class="lead"><strong>Open Source Brain</strong> is a resource for sharing and collaboratively developing computational models of neural systems.</p>
	<div id="learnMoreContainer" class="row">
            <div class="explore-option">
                <a href="/projects/acnet2/models?explorer=https%3A%2F%2Fraw.githubusercontent.com%2FOpenSourceBrain%2FACnet2%2Fmaster%2FosbSessions%2Fsample%2FSample_Session.json">
                    <div class="explore-desc">
                        Learn more about the OSB interface
                    </div>
                    <img class="card-img" src="images/projectThumbnails/Guided.png" alt="header"/>
                </a>
            </div>
            <div class="explore-option">
                <a href="/projects/hodgkin-huxley-tutorial?explorer=https%3A%2F%2Fraw.githubusercontent.com%2Fopensourcebrain%2Ftutorials%2Fdevelopment%2Fmodels%2FhodgkinHuxley%2FGEPPETTO.json">
                    <div class="explore-desc">
                        Learn about the Hodgkin Huxley model
                    </div>
                    <img class="card-img" src="images/projectThumbnails/HHTutorial.png" alt="header"/>
                </a>
            </div>
            <div class="explore-option">
                <a href="/projects/l23pyramidalcelltutorial?explorer=https%253A%252F%252Fraw.githubusercontent.com%252FOpenSourceBrain%252FL23PyramidalCellTutorial%252Fmaster%252FNeuroML2%252FosbSessions%252FGEPPETTO.json">
                    <div class="explore-desc">
                        Simulate electrophysiologically detailed cell models
                    </div>
                    <img class="card-img" src="images/projectThumbnails/L23Tutorial.png" alt="header"/>
                </a>
            </div>
                <div class="explore-option">
                    <a href="/projects">
                        <div class="explore-desc">
                            Explore more OSB projects
                        </div>
                        <img class="card-img" src="images/projectThumbnails/Explore.png" alt="header"/>
                    </a>
                </div>
        </div>
	<p class="lead">Or create an account to add your own models and <strong>run simulations!</strong></p>
	<div>
	    <!-- <a class="btn btn-large btn-info" href="/projects">Explore OSB</a> -->
	    <a class="btn btn-large btn-success" href="/account/register">Sign up</a>
	    <a class="btn btn-large btn-success" href="/login">Sign in</a>
	    <a href="/docs#Getting_Started"><icon id="helpIcon" class="icon-question-sign blue-icon"/></a>
	</div>
    <div>&nbsp;
	</div>

    <div>
    <p class="lead">Try out <strong><a href="https://www.v2.opensourcebrain.org" target="_blank">Open Source Brain version 2</a></strong> now!</p>
	</div>
    <div>
	<p class="lead">Try the new <strong>Neurodata Without Borders (NWB) Explorer</strong> out
    <a href="http://nwbexplorer.opensourcebrain.org/" target="__blank">here</a>
    (<a href="https://github.com/OpenSourceBrain/NWBShowcase/blob/master/README.md" target="__blank">more info</a>).</p>
    </div>
<% else %>

<!-- HEADER -->

	
<ul class="nav nav-tabs" data-tabs="tabs">
  
  <li class="active"><a href="#myprojects" data-toggle="tab"><%= User.current.firstname %>'s Home</a></li>
  <li><a href="#workspace" data-toggle="tab">Your models</a></li>
  <li><a href="/tutorials">Tutorials</a></li>
  <li><a href="#news" data-toggle="tab">News</a></li>
  
</ul>

<div class="tab-content">

	<!-- PROJECTS -->
	<div id="myprojects" class="tab-pane active in">
		<div class="container-fluid" id="welcomeMainContainer">
			<div class="col-xs-12 col-md-8">
				<% unless @events_by_day.empty? %>
				<div id="activity">
					<% @actID=0 %>
					<% @events_by_day.keys.sort.reverse.each do |day| %>
						<% @actID=@actID+1 %>
						<div class="row activity-item">
						<% @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
							<% @actID=@actID+1 %>
								<div class="row activity-item">
						  			<div class="col-md-1 <%= "E_"+e.event_type %> <%= User.current.logged? && e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil %>"></div>
							  		<div class="col-md-9">
							  			<div class="time row" id="<%= 'T'+@actID.to_s() %>"><%= javascript_tag "jQuery('#{'#T'+@actID.to_s()}').html(moment('#{e.event_datetime}', 'YYYY-MM-DD HH:mm:ss Z').fromNow());" %></div>
							  			<div class="author row"><strong><%= link_to_user(e.event_author) if e.respond_to?(:event_author) %> edited
							  			
							  			<%= content_tag('span', h(e.project), :class => 'project-title') if @project.nil? || @project != e.project %></strong></div>
							  			<div class="row">
							  			<%= avatar(e.event_author, :size => "50", :class => "img-rounded") if e.respond_to?(:event_author) %>
							  			<%= link_to format_activity_title(e.event_title), e.event_url %>
							  			</div>
							  			<div class="row">
							  				<div class="description"><%= format_activity_description(e.event_description) %></div>
						  				</div>
						  			</div>
								</div>
						<% end -%>
						</div>
					<% end -%>
				</div>
				<% end %>
				<% if @events_by_day.empty? %>
					<p class="lead">You have no activities yet! Why don't you start by creating a new project?</p>
					<icon class="icon-coffee icon-xxxlarge"></icon>
					<icon class="icon-lightbulb icon-xxxlarge"></icon>
					<icon class="icon-beaker icon-xxxlarge"></icon>
				<% end %>
			</div>
			
		
				<div class="col-xs-6 col-md-4">
					<table class="table table-bordered-rows table-hover projecttable">
						<thead>
							<tr>
								<td><h4>Your projects</h4></td>
								<td class="noborder pull-right">
									<button type="button" class="btn btn-success" onclick="location.href='/projects/new';"><i class="icon-plus"></i> New project</button>
									<a href="/docs#Creating_Your_Own_Project"><icon style="font-size: 20px;" class="icon-large icon-question-sign blue-icon"/></a>
								</td> 	
							</tr>
						</thead>
						<% if User.current.projects.any? %>
							<% for project in User.current.projects %>
							    <tr><td colspan="2"><icon class="icon-list-alt"></icon><%= link_to_project(project) %></td></tr>
							<% end %>
						<% end %>
					</table>
					
					<table class="table table-bordered-rows table-hover projecttable">
						<thead>
							<tr>
								<td><h4>Latest projects added on OSB</h4></td> 	
							</tr>
						</thead>
							<% maxprjcount=5 %>
							<% i=0 %>
							<% for project in Project.all.order('created_on desc') %>
								<%if(i<maxprjcount)%>
									<% i=i+1 %>
										<tr><td><icon class="icon-list-alt"></icon><%= link_to_project project %></td></tr> 
								<% else break;%>
								<% end %>
							<% end %>
							<% @project = nil %>
					</table>
					
					<div>
			
				</div>
			</div>
				
		</div>
	</div>
	<!-- WORKSPACE -->

	<div id="workspace" class="tab-pane">
		<div class="row-fluid" id="dashboardContainer">
		</div>
	</div>
	
	<!-- NEWS -->
	<div id="news" class="tab-pane">
		<div id="twitterContainer" class="news box">
			<a class="twitter-timeline" href="https://twitter.com/OSBTeam" data-widget-id="592634674410889217">Tweets by @OSBTeam</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>

	<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'scm' %>
	<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},:title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
	<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},:title => "#{Setting.app_title}: #{l(:label_activity)}") %>
	<% end %>
<% end %>
