<div class="contextual">
<%= link_to sprite_icon('time-add', l(:button_log_time)),
            _new_time_entry_path(@project, @issue),
            :class => 'icon icon-time-add' if User.current.allowed_to?(:log_time, @project, :global => true) %>
<%= link_to_if_authorized sprite_icon('settings', l(:label_settings)),
                          {:controller => 'projects', :action => 'settings', :id => @project, :tab => 'activities'},
                          :class => 'icon icon-settings' if User.current.allowed_to?(:manage_project_activities, @project) %>
</div>

<h2><%= @query.new_record? ? l(:label_spent_time) : @query.name %></h2>

<%= form_tag(_report_time_entries_path(@project, nil), :method => :get, :id => 'query_form') do %>
  <% @report.criteria.each do |criterion| %>
    <%= hidden_field_tag 'criteria[]', criterion, :id => nil %>
  <% end %>
  <%= render :partial => 'timelog/date_range' %>

  <p><label for='columns'><%= l(:label_details) %></label>: <%= select_tag 'columns', options_for_select([[l(:label_year), 'year'],
                                                                            [l(:label_month), 'month'],
                                                                            [l(:label_week), 'week'],
                                                                            [l(:label_day_plural).titleize, 'day']], @report.columns),
                                                        :onchange => "this.form.submit();" %>

  <label for='criterias'><%= l(:button_add) %></label>: <%= select_tag('criteria[]', options_for_select([[]] + (@report.available_criteria.keys - @report.criteria).collect{|k| [l_or_humanize(@report.available_criteria[k][:label]), k]}),
                                                          :onchange => "this.form.submit();",
                                                          :style => 'width: 200px',
                                                          :disabled => (@report.criteria.length >= 3),
                                                          :id => "criterias") %>
     <%= link_to sprite_icon('reload', l(:button_clear)), {:params => request.query_parameters.merge(:criteria => nil)}, :class => 'icon icon-reload' %></p>
  <%= hidden_field_tag 'encoding', l(:general_csv_encoding) unless l(:general_csv_encoding).casecmp('UTF-8') == 0 %>
<% end %>

<% if @query.valid? %>
<% unless @report.criteria.empty? %>
<% if @report.hours.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<div class="autoscroll">
<table class="list" id="time-report">
<thead>
<tr>
<% @report.criteria.each do |criteria| %>
  <th><%= l_or_humanize(@report.available_criteria[criteria][:label]) %></th>
<% end %>
<% columns_width = (40 / (@report.periods.length+1)).to_i %>
<% @report.periods.each do |period| %>
  <th class="period" style="width:<%= columns_width %>%;"><%= period %></th>
<% end %>
  <th class="total" style="width:<%= columns_width %>%;"><%= l(:label_total_time) %></th>
</tr>
</thead>
<tbody>
<%= render :partial => 'report_criteria', :locals => {:criterias => @report.criteria, :hours => @report.hours, :level => 0} %>
  <tr class="total">
  <td><%= l(:label_total_time) %></td>
  <%= ('<td></td>' * (@report.criteria.size - 1)).html_safe %>
  <% total = 0 -%>
  <% @report.periods.each do |period| -%>
    <% sum = sum_hours(select_hours(@report.hours, @report.columns, period.to_s)); total += sum -%>
    <td class="hours"><%= html_hours(format_hours(sum)) if sum > 0 %></td>
  <% end -%>
  <td class="hours"><%= html_hours(format_hours(total)) if total > 0 %></td>
  </tr>
</tbody>
</table>
</div>

<% other_formats_links do |f| %>
  <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '330px'); return false;" %>
<% end %>
<% end %>
<div id="csv-export-options" style="display: none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= export_csv_encoding_select_tag %>
  <%= export_csv_separator_select_tag %>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :id => 'csv-export-button' %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => 'hideModal(this);', :type => 'button' %>
  </p>
</div>
<% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% html_title(@query.new_record? ? l(:label_spent_time) : @query.name, l(:label_report)) %>


<%= javascript_tag do %>
$(document).ready(function(){
  $('input#csv-export-button').click(function(){
    $('form input#encoding').val($('select#encoding option:selected').val());
    $('form#query_form').attr('action', '<%= _report_time_entries_path(@project, nil, :format => 'csv') %>').submit();
    $('form#query_form').attr('action', '<%= _report_time_entries_path(@project, nil) %>');
    hideModal(this);
  });
});
<% end %>
