<%= render "projects/header" %>

<%= wiki_page_breadcrumb(@page) %>

<div class="bs-docs bs-docs-editing">
<h2><%= @page.pretty_title %></h2>
<%= form_for @content, :as => :content,
            :url => {:action => 'update', :id => @page.title},
            :html => {:method => :put, :multipart => true, :id => 'wiki_form'} do |f| %>
<%= f.hidden_field :version %>
<% if @section %>
<%= hidden_field_tag 'section', @section %>
<%= hidden_field_tag 'section_hash', @section_hash %>
<% end %>
<%= error_messages_for 'content' %>

<%= text_area_tag 'content[text]', @text, :cols => 100, :rows => 25, :class => 'wiki-edit input-block-level', :accesskey => accesskey(:edit) %>
<br/><br/>
<% if @page.safe_attribute_names.include?('parent_id') && @wiki.pages.any? %>
  <%= fields_for @page do |fp| %>
    <div class="control-group">
      <label class="control-label"><%= l(:field_parent_title) %></label>
      <div class="controls">
      <%= fp.select :parent_id,
                    content_tag('option', '', :value => '') +
                       wiki_page_options_for_select(
                         @wiki.pages.includes(:parent).to_a -
                         @page.self_and_descendants, @page.parent) %>
     </div>
    </div>
  <% end %>
<% end %>

<div class="form-group">
    <label class="col-sm-2 control-label"><%= l(:field_comments) %></label>
    <div class="col-sm-10">
        <%= f.text_field :comments, :class => 'input-xxlarge form-control', :placeholder=>'Write a small message here explaining this change. (Optional)' %>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label"><%=l(:label_attachment_plural)%></label>
    <div class="col-sm-10"><%= render :partial => 'attachments/form' %></div>
</div>

<div class="control-group">
	    <%= submit_tag l(:button_save), :class => "btn btn-large btn-success baseline" %>
   	    <%= preview_link({:controller => 'wiki', :action => 'preview', :project_id => @project, :id => @page.title, :class => "btn btn-default" }, 'wiki_form') %>
            | <%= link_to l(:button_cancel), wiki_page_edit_cancel_path(@page) %>
</div>
    
<%= wikitoolbar_for 'content_text' %>
<% end %>
</div>

<div id="preview" class="wiki"></div>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
<% end %>

