<%= wiki_page_breadcrumb(@page) %>

<h2><%= @page.pretty_title %></h2>

<%= form_for @content, :as => :content,
            :url => {:action => 'update', :id => @page.title},
            :html => {:method => :put, :multipart => true, :id => 'wiki_form'} do |f| %>
<%= f.hidden_field :version %>
<% if @section %>
<%= hidden_field_tag 'section', @section %>
<%= hidden_field_tag 'section_hash', @section_hash %>
<% end %>
<%= error_messages_for 'content' %>

<div class="box tabular">
<%= text_area_tag 'content[text]', @text, :cols => 100, :rows => 25,
                  :class => 'wiki-edit', :accesskey => accesskey(:edit) %>

<% if @page.safe_attribute_names.include?('parent_id') && @wiki.pages.any? %>
  <%= fields_for @page do |fp| %>
    <p>
      <label><%= l(:field_parent_title) %></label>
      <%= fp.select :parent_id,
                    content_tag('option', '', :value => '') +
                       wiki_page_options_for_select(
                         @wiki.pages.includes(:parent).to_a -
                         @page.self_and_descendants, @page.parent) %>
    </p>
  <% end %>
<% end %>

<p><label><%= l(:field_comments) %></label><%= f.text_field :comments, :size => 120, :maxlength => 1024 %></p>
<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>

<p>
  <%= submit_tag l(:button_save) %>
   <%= preview_link({:controller => 'wiki', :action => 'preview', :project_id => @project, :id => @page.title }, 'wiki_form') %>
   | <%= link_to l(:button_cancel), wiki_page_edit_cancel_path(@page) %>
 </p>
<%= wikitoolbar_for 'content_text' %>
<% end %>

<div id="preview" class="wiki"></div>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
<% end %>

<% html_title @page.pretty_title %>
