<% unless @pages.empty? %>
<div class="row">
	<div class="btn-toolbar pull-right">
	    <% other_formats_links do |f| %>

		  <div class="btn-group">
			  <a class="btn dropdown-toggle icon-share" data-toggle="dropdown" href="#"> Export <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><%= f.link_to 'CSV', :url => params, :onclick => "showModal('csv-export-options', '330px'); return false;", :caption=>"CSV" %></li>
	            <li><%= f.link_to 'PDF', :url => params, :caption=>"PDF" %></li>
	          </ul>
          </div>
          <div class="btn-group">
	      <%= f.link_to 'Atom', {:url => params.merge(:from => nil, :key => User.current.rss_key),:class=>"btn btn-default icon-rss btn-rss", :caption=>" News feed"}%>
	  </div>	
		<% end %>
	</div>
</div>
<% end %>
<div class="contextual">
<% if User.current.allowed_to?(:edit_wiki_pages, @project) %>
<%= link_to l(:label_wiki_page_new), new_project_wiki_page_path(@project), :remote => true, :class => 'icon icon-add' %>
<% end %>
<%= watcher_link(@wiki, User.current) %>
</div>

<h2><%= l(:label_index_by_title) %></h2>

<% if @pages.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= render_page_hierarchy(@pages_by_parent_id, nil, :timestamp => true) %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>



<% content_for :header_tags do %>
<%= auto_discovery_link_tag(
      :atom, :controller => 'activities', :action => 'index',
      :id => @project, :show_wiki_edits => 1, :format => 'atom',
      :key => User.current.rss_key) %>
<% end %>
