<div class="contextual">
<% if @editable %>
<% if @content.current_version? %>
  <%= link_to_if_authorized(l(:button_edit), {:action => 'edit', :id => @page.title}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
  <%= watcher_link(@page, User.current) %>
  <%= link_to_if_authorized(l(:button_lock), {:action => 'protect', :id => @page.title, :protected => 1}, :method => :post, :class => 'icon icon-lock') if !@page.protected? %>
  <%= link_to_if_authorized(l(:button_unlock), {:action => 'protect', :id => @page.title, :protected => 0}, :method => :post, :class => 'icon icon-unlock') if @page.protected? %>
  <%= link_to_if_authorized(l(:button_rename), {:action => 'rename', :id => @page.title}, :class => 'icon icon-move') %>
  <%= link_to_if_authorized(l(:button_delete), {:action => 'destroy', :id => @page.title}, :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-del') %>
<% else %>
  <%= link_to_if_authorized(l(:button_rollback), {:action => 'edit', :id => @page.title, :version => @content.version }, :class => 'icon icon-cancel') %>
<% end %>
<% end %>
<%= link_to_if_authorized(l(:label_history), {:action => 'history', :id => @page.title}, :class => 'icon icon-history') %>
</div>

<%= wiki_page_breadcrumb(@page) %>

<% unless @content.current_version? %>
  <%= title [@page.pretty_title, project_wiki_page_path(@page.project, @page.title, :version => nil)],
        [l(:label_history), history_project_wiki_page_path(@page.project, @page.title)],
        "#{l(:label_version)} #{@content.version}" %>

    <p>
    <%= link_to(("\xc2\xab " + l(:label_previous)),
                :action => 'show', :id => @page.title, :project_id => @page.project,
                :version => @content.previous.version) + " - " if @content.previous %>
    <%= "#{l(:label_version)} #{@content.version}/#{@page.content.version}" %>
    <%= '('.html_safe + link_to(l(:label_diff), :controller => 'wiki', :action => 'diff',
                      :id => @page.title, :project_id => @page.project,
                      :version => @content.version) + ')'.html_safe if @content.previous %> - 
    <%= link_to((l(:label_next) + " \xc2\xbb"), :action => 'show',
                :id => @page.title, :project_id => @page.project,
                :version => @content.next.version) + " - " if @content.next %>
    <%= link_to(l(:label_current_version), :action => 'show', :id => @page.title, :project_id => @page.project, :version => nil) %>
    <br />
    <em><%= @content.author ? link_to_user(@content.author) : l(:label_user_anonymous)
         %>, <%= format_time(@content.updated_on) %> </em><br />
    <%=h @content.comments %>
    </p>
    <hr />
<% end %>

<%= render(:partial => "wiki/content", :locals => {:content => @content}) %>

<%= link_to_attachments @page %>

<% if @editable && authorize_for('wiki', 'add_attachment') %>
<div id="wiki_add_attachment">
<p><%= link_to l(:label_attachment_new), {}, :onclick => "$('#add_attachment_form').show(); return false;",
                                             :id => 'attach_files_link' %></p>
<%= form_tag({:controller => 'wiki', :action => 'add_attachment',
              :project_id => @project, :id => @page.title},
             :multipart => true, :id => "add_attachment_form",
             :style => "display:none;") do %>
  <div class="box">
  <p><%= render :partial => 'attachments/form' %></p>
  </div>
<%= submit_tag l(:button_add) %>
<%= link_to l(:button_cancel), {}, :onclick => "$('#add_attachment_form').hide(); return false;" %>
<% end %>
</div>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'PDF', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'HTML', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'TXT', :url => {:id => @page.title, :version => params[:version]} %>
<% end if User.current.allowed_to?(:export_wiki_pages, @project) %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% html_title @page.pretty_title %>
