<div class="contextual">

<% if @editable %>
<% if @content.current_version? %>
  <%= link_to_if_authorized(l(:button_edit), {:action => 'edit', :id => @page.title}, :class => 'icon icon-edit', :accesskey => accesskey(:edit)) %>
  <%= watcher_link(@page, User.current) %>
<% end %>
<% end %>

  <%= actions_dropdown do %>
    <%= link_to_if_authorized(l(:label_history), {:action => 'history', :id => @page.title}, :class => 'icon icon-history') %>

    <% if @editable %>
    <% if @content.current_version? %>
      <%= link_to_if_authorized(l(:button_lock), {:action => 'protect', :id => @page.title, :protected => 1}, :method => :post, :class => 'icon icon-lock') if !@page.protected? %>
      <%= link_to_if_authorized(l(:button_unlock), {:action => 'protect', :id => @page.title, :protected => 0}, :method => :post, :class => 'icon icon-unlock') if @page.protected? %>
      <%= link_to_if_authorized(l(:button_rename), {:action => 'rename', :id => @page.title}, :class => 'icon icon-move') %>
      <%= link_to_if_authorized(l(:button_delete), {:action => 'destroy', :id => @page.title}, :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-del') %>
    <% else %>
      <%= link_to_if_authorized(l(:button_rollback), {:action => 'edit', :id => @page.title, :version => @content.version }, :class => 'icon icon-cancel') %>
    <% end %>
    <% end %>

    <% if User.current.allowed_to?(:edit_wiki_pages, @project) %>
      <%= link_to l(:label_wiki_page_new), new_project_wiki_page_path(@project, :parent => @page.title), :remote => true, :class => 'icon icon-add' %>
    <% end %>
  <% end %>
</div>

<%= wiki_page_breadcrumb(@page) %>

<% unless @content.current_version? %>
  <%= title [@page.pretty_title, project_wiki_page_path(@page.project, @page.title, :version => nil)],
        [l(:label_history), history_project_wiki_page_path(@page.project, @page.title)],
        "#{l(:label_revision)} #{@content.version}" %>

    <p>
    <% if @content.previous %>
      <%= link_to ("\xc2\xab " + l(:label_previous)),
                :action => 'show', :id => @page.title, :project_id => @page.project,
                :version => @content.previous.version %> |
    <% end %>
    <%= "#{l(:label_revision)} #{@content.version}/#{@page.content.version}" %>
    <% if @content.previous %>
      (<%= link_to l(:label_diff), :controller => 'wiki', :action => 'diff',
                      :id => @page.title, :project_id => @page.project,
                      :version => @content.version %>)
    <% end %>
    <% if @content.next %>
      | <%= link_to (l(:label_next) + " \xc2\xbb"), :action => 'show',
                :id => @page.title, :project_id => @page.project,
                :version => @content.next.version %>
    <% end %>
    <br />
    <em><%= @content.author ? link_to_user(@content.author) : l(:label_user_anonymous)
         %>, <%= format_time(@content.updated_on) %> </em><br />
    <%= @content.comments %>
    </p>
    <hr />
<% end %>

<%= render(:partial => "wiki/content", :locals => {:content => @content}) %>

<fieldset class="collapsible collapsed hide-when-print">
  <legend onclick="toggleFieldset(this);"><%= l(:label_attachment_plural) %> (<%= @page.attachments.length %>)</legend>
  <div style="display: none;">

  <%= link_to_attachments @page, :thumbnails => true %>

  <% if @editable && authorize_for('wiki', 'add_attachment') %>
  <div id="wiki_add_attachment">
    <%= form_tag({:controller => 'wiki', :action => 'add_attachment',
                  :project_id => @project, :id => @page.title},
                 :multipart => true, :id => "add_attachment_form") do %>
      <div class="box">
      <p><%= render :partial => 'attachments/form' %></p>
      </div>
      <%= submit_tag l(:button_add) %>
    <% end %>
  </div>
  <% end %>
</div>
</fieldset>

<% if User.current.allowed_to?(:view_wiki_edits, @project) %>
<p class="wiki-update-info">
  <%= wiki_content_update_info(@content) %>
 · <%= link_to l(:label_x_revisions, :count => @content.version), {:action => 'history', :id => @page.title} %>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'PDF', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'HTML', :url => {:id => @page.title, :version => params[:version]} %>
  <%= f.link_to 'TXT', :url => {:id => @page.title, :version => params[:version]} %>
<% end if User.current.allowed_to?(:export_wiki_pages, @project) %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag unless @content.current_version? %>
<% end %>

<% html_title @page.pretty_title %>
