<h2><%=l(:label_news)%></h2>

<%= labelled_form_for @news, :html => { :id => 'news-form', :multipart => true, :method => :put } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>
