<%= form_tag({:action => 'edit', :tab => 'display'}) do %>

<div class="box tabular settings">
<p><%= setting_select :ui_theme, Redmine::Themes.themes.collect {|t| [t.name, t.id]}, :blank => :label_default, :label => :label_theme %></p>

<p><%= setting_select :default_language, lang_options_for_select(false) %></p>

<p><%= setting_check_box :force_default_language_for_anonymous %></p>

<p><%= setting_check_box :force_default_language_for_loggedin %></p>

<p><%= setting_select :start_of_week, [[day_name(1),'1'], [day_name(6),'6'], [day_name(7),'7']], :blank => :label_language_based %></p>
<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>
<p><%= setting_select :date_format, date_format_setting_options(locale), :blank => :label_language_based %></p>

<p><%= setting_select :time_format, Setting::TIME_FORMATS.collect {|f| [::I18n.l(Time.now, :locale => locale, :format => f), f]}, :blank => :label_language_based %></p>

<p><%= setting_select :timespan_format, [["%.2f" % 0.75, 'decimal'], ['0:45 h', 'minutes']], :blank => false %></p>

<p><%= setting_select :user_format, @options[:user_format] %></p>

<p><%= setting_check_box :gravatar_enabled, :data => {:enables => '#settings_gravatar_default'} %>
<em class="info"><%= t(:text_avatar_server_config_html, :url => Redmine::Configuration['avatar_server_url']) %></em></p>

<p><%= setting_select :gravatar_default, gravatar_default_setting_options, :blank => :label_none %></p>

<p><%= setting_check_box :thumbnails_enabled, :data => {:enables => '#settings_thumbnails_size'} %></p>

<p><%= setting_text_field :thumbnails_size, :size => 6 %></p>

<p><%= setting_select :new_item_menu_tab, [[l(:label_none), '0'], [l(:label_new_project_issue_tab_enabled), '1'], [l(:label_new_object_tab_enabled), '2']] %></p>
</div>

<%= submit_tag l(:button_save) %>
<% end %>
