<%= form_tag({:action => 'edit', :tab => 'issues'}) do %>

<div class="box tabular settings">
<p><%= setting_check_box :cross_project_issue_relations %></p>

<p><%= setting_select :link_copied_issue, link_copied_issue_options %></p>

<p><%= setting_select :copy_attachments_on_issue_copy, copy_attachments_on_issue_copy_options %></p>

<p><%= setting_select :cross_project_subtasks, cross_project_subtasks_options %></p>

<p><%= setting_check_box :close_duplicate_issues %></p>

<p><%= setting_check_box :issue_group_assignment %></p>

<p><%= setting_check_box :default_issue_start_date_to_creation_date %></p>

<p><%= setting_check_box :display_subprojects_issues %></p>

<p><%= setting_select :issue_done_ratio, Issue::DONE_RATIO_OPTIONS.collect {|i| [l("setting_issue_done_ratio_#{i}"), i]} %></p>

<p><%= setting_select :issue_done_ratio_interval, [5, 10].collect {|i| ["#{i} %", i]} %></p>

<p><%= setting_multiselect :non_working_week_days, (1..7).map {|d| [day_name(d), d.to_s]}, :inline => true %></p>

<p><%= setting_text_field :issues_export_limit, :size => 6 %></p>

<p><%= setting_text_field :gantt_items_limit, :size => 6 %></p>

<p><%= setting_text_field :gantt_months_limit, :size => 6 %></p>
</div>

<fieldset class="box">
  <legend><%= l(:label_parent_task_attributes) %></legend>
  <div class="tabular settings">
    <p><%= setting_select :parent_issue_dates, parent_issue_dates_options, :label => "#{l(:field_start_date)} / #{l(:field_due_date)}" %></p>

    <p><%= setting_select :parent_issue_priority, parent_issue_priority_options, :label => :field_priority %></p>

    <p><%= setting_select :parent_issue_done_ratio, parent_issue_done_ratio_options, :label => :field_done_ratio %></p>
  </div>
</fieldset>

<fieldset class="box">
  <legend><%= l(:setting_issue_list_default_columns) %></legend>
  <div id="list-definition">
    <div>
      <%= render_query_columns_selection(
            IssueQuery.new(:column_names => Setting.issue_list_default_columns),
            :name => 'settings[issue_list_default_columns]') %>
    </div>
  </div>

  <p><%= setting_multiselect :issue_list_default_totals,
           IssueQuery.new(:totalable_names => Setting.issue_list_default_totals).available_totalable_columns.map {|c| [c.caption, c.name.to_s]},
           :inline => true,
           :label => :label_total_plural %></p>

  <p>
    <label><%= l(:label_default_query) %></label>
    <%= setting_select :default_issue_query, default_global_issue_query_options, label: false %>
  </p>
</fieldset>

<%= submit_tag l(:button_save) %>
<% end %>
