<h2><%= import_title %></h2>

<%= form_tag(imports_path, :multipart => true) do %>
  <%= hidden_field_tag 'type', @import.type %>
  <%= hidden_field_tag 'project_id', params[:project_id] %>
  <fieldset class="box">
    <legend><%= l(:label_select_file_to_import) %> (CSV)</legend>
    <p>
      <%= file_field_tag 'file' %>
    </p>
  </fieldset>
  <p><%= submit_tag l(:label_next).html_safe + " &#187;".html_safe, :name => nil %></p>
<% end %>
