<h2><%= l(:label_import_issues) %></h2>

<% if @import.unsaved_items.count == 0 %>
  <p><%= l(:notice_import_finished, :count => @import.saved_items.count) %></p>

  <ol>
  <% @import.saved_objects.each do |issue| %>
    <li><%= link_to_issue issue %></li>
  <% end %>
  </ul>
<% else %>
  <p><%= l(:notice_import_finished_with_errors, :count => @import.unsaved_items.count, :total => @import.total_items) %></p>

  <table id="unsaved-items" class="list">
    <tr>
      <th>Position</th>
      <th>Message</th>
    </tr>
  <% @import.unsaved_items.each do |item| %>
    <tr>
      <td><%= item.position %></td>
      <td><%= simple_format_without_paragraph item.message %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>
