<%= error_messages_for @document %>

<div class="box tabular">
  <p><%= f.select :category_id, DocumentCategory.active.collect {|c| [c.name, c.id]} %></p>
  <p><%= f.text_field :title, :required => true, :size => 60 %></p>
  <p><%= f.text_area :description, :cols => 60, :rows => 15, :class => 'wiki-edit',
                    :data => {
                        :auto_complete => true
                    } %></p>

  <% @document.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :document, value %></p>
  <% end %>

  <% if @document.new_record? %>
    <p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form', :locals => {:container => @document} %></p>
  <% end %>
</div>

<%= wikitoolbar_for 'document_description' %>
