<% if display_main_menu?(@project) %>
    <% category =  getCustomField(@project,"Category")  %>
    <script>
     var repourl="<%= getHttpRepositoryURL(@project) %>";
     var repopath="<%= getHttpRepositoryPath(@project.repository) %>";
     var neuroml2files = <%= raw getNML2Files(@project.repository) %>;
     var h5files = <%= raw getH5Files(@project.repository) %>;
     var swcfiles = <%= raw getSWCFiles(@project.repository) %>;
     var nwbfiles = <%= raw getNWBFiles(@project.repository) %>;
     var jsonfiles = <%= raw getJSONFiles(@project.repository) %>;
     var synapsefiles = <%= raw getModelFiles(".synapse.nml") %>;
     var channelfiles = <%= raw getModelFiles(".channel.nml") %>;
     var cellfiles = <%= raw getModelFiles(".cell.nml") %>;
     var networkfiles = <%= raw getModelFiles(".net.nml") %>;
     var project_identifier = "<%= @project.identifier %>";
     var project_repository = "<%= @project.repository %>";
     var isProjectOrShowcase = "<%= isProjectOrShowcase(@project) %>";
     var defaultMainModel = "<%= getDefaultMainModel() %>";
    </script>
    <% if isProjectOrShowcase(@project) %>
        <% @neuroml2files = getNML2Files(@project.repository) %>
        <% @h5files = getH5Files(@project.repository) %>
        <% @swcfiles = getSWCFiles(@project.repository) %>
        <% @nwbfiles = getNWBFiles(@project.repository) %>
        <% @sjsonfiles = getJSONFiles(@project.repository) %>
        <% @repourl=getHttpRepositoryURL(@project) %>
        <% @repopath=getHttpRepositoryPath(@project.repository) %>
        <% @synapsefiles = getModelFiles(".synapse.nml") %>
        <% @channelfiles = getModelFiles(".channel.nml") %>
        <% @cellfiles = getModelFiles(".cell.nml") %>
        <% @networkfiles = getModelFiles(".net.nml") %>
        <% @defaultMainModel = getDefaultMainModel() %>
    <% end %>
<!-- project-header has content not hidden when geppetto iframe shown -->
<div class="project-title">
    <span id="pname"><%= @project.name %></span>
    <% if isProjectOrShowcase(@project) %>
        <div class="btn-group-lg" role="group" id="showGroup">
            <button id="showGeppettoBtn" class="btn btn-success" href=#><i class=icon-eye-open></i> Explore model</button>
            <button id="showProjectBtn" class="btn showProject" href="#"><i class="icon-hand-left"></i> Return to project  </button>
            <button id="troubleshootExplorerBtn" class="btn btn-info" onClick="window.open('https://docs.opensourcebrain.org/OSBv1/Troubleshooting_3d_explorer.html'); return false;"><i class="icon-help"></i> Troubleshoot 3D explorer</button>
            <a href="<%= request.base_url.to_s + '/projects/' + @project.identifier %>/models" id="moreBtn" class="btn btn-default" data-toggle="collapse" data-target="#explorermenu" aria-expanded="false" aria-controls="collapseExample">More</span></a>
        </div>
    <% end %>
</div>
<div class="project-header">
    <div class="badges">
        <%= getEndorsementBadge(@project) %>
        <%= getCurationBadge(@project, "pull-right", tipPlace="bottom") %>
	<% if (not @repourl.nil?) && (@repourl.include? "github") %>
	    <span class="gh-badges">
		<% @repoID = @repourl.split('/')[-2..-1].join('/') %>
		<% {'issues' => 'https://github.com/'+@repoID+'/issues',
		    'forks' => 'https://github.com/'+@repoID+'/network',
		    'stars' => 'https://github.com/'+@repoID+'/stargazers'}.each do |shield_type, link| %>
		    <%= link_to link, :class => "gh-badge" do %>
			<%= image_tag "https://img.shields.io/github/"+shield_type+"/"+@repoID+".svg?style=flat" %>
		    <% end %>
		<% end %>
	    </span>
	<% end %>
	<% if isBestPractice?(@project) %>
            <a class="twitterbutton icon-twitter-sign tooltiplink clickable" data-toggle='tooltip' data-placement='right' title='Share this project on Twitter!' href="https://twitter.com/intent/tweet?text=Check out the <%= @project.name %> project on Open Source Brain! via @osbteam&tw_p=tweetbutton&url=<%= Rack::Utils.escape(url_for(:only_path => false)) %>" target="_blank"></a>
        <% end %>
    </div>
    <% if isEndorsedOrBestPractice?(@project) %>
        <% if category=="Project" %>
	    <%= getProjectBreadcrumb(@project) %>
        <% end %>
    <% end %>
    <nav class="navbar navbar-default">
	<div id="container-fluid">
	    <% if display_main_menu?(@project) %>
                <ul class="nav navbar-nav">
                    <%= render_menu_items :project_menu, @project %>
                </ul>
	    <% end %>
	</div>
    </nav>
</div>
<% end %>
