<div class="tabbable">
	<div class="row pagination-centered">
	    <div id="view-tab" class="btn-group" data-toggle="buttons">
                <label class="btn btn-large active">
  		    <input type="radio" href="#graph" id="graphLink" data-toggle="tab"><icon class="icon-circle-blank"></icon> Graph view
                </label>
                <label class="btn btn-large">
  		    <input type="radio" href="#listcells" id="listcellsLink" data-toggle="tab"><icon class="icon-th-list"></icon> List view
                </label>
                <label class="btn btn-large">
  		    <input type="radio" href="#gallery" id="galleryLink" data-toggle="tab"><icon class="icon-th-large"></icon> Gallery view
                </label>
                <label class="btn btn-large">
  		    <input type="radio" href="#tags" id="tagsLink" data-toggle="tab"><icon class="icon-cloud"></icon> Tags view
                </label>
	    </div>
		<br/><br/><br/>
	</div>
	<!-- This begins the graph or list section -->
	<div class="tab-content">
	    <div class="tab-pane active" id="graph">
	    	<% if request.env["HTTP_USER_AGENT"] =~ /MSIE/ %>
				<div class="alert">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <strong>Warning!</strong> Graph visualisation is not compatible with Internet Explorer. <br/> Please switch to <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a>	or <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a> for the tree view.</div>
	    	<% else %>
	    		<div id="body"></div>
				<p id="jsontree" style="display: none;"><%= createJSONProjectTree(@projects)%><p>
			<% end %>	
	    </div>
	    <div class="tab-pane row-fluid" id="listcells">
                <div class="col-sm-4 navbar">
		    	<div class="nav">
		    		<form class="filterform form-search" action="#">
		    			<div class="input-prepend">
						  <span class="add-on"><i class="icon-filter"></i></span>
						  <input id="cellsfilter" class="filter search-query form-control" type="text" placeholder="Filter projects...">
						</div>
					</form>
			    	<ul id="cellslist" class="nav overflow-list">
						<% for p in @modelProjects %>
								<li class="capitalize"><a data-toggle="tab" href="#cell<%= p.id %>"><%= p.name %></a></li>
						<% end %>		 
					</ul>
				 </div>
			 </div>	 	
			<div class="col-sm-8 tab-content">
				<% for p in @modelProjects %>
					<div class="tab-pane" id="cell<%= p.id %>"">
						<a class="btn btn-large btn-info pull-right" href="<%= url_for({:controller => 'projects', :action => 'show', :id => p}) %>"><icon class="icon-folder-open"></icon> Open project</a>
						<br/>
						<%= textilizable(p.short_description, :project => p) %>
					</div>
				<% end %>
    		</div>	    
		</div>
		
		<div class="tab-pane row-fluid" id="gallery">
			<div class="carousel slide" id="carouselMainPage">
		        <div class="carousel-inner">
					<% @galleryImages.each_with_index do |galleryImage, index| %>
						<div class="item <% if index == 0 %>active<% end %>">
			                <div class="bannerImage">
			                    <a href="#"><%= textilizable(galleryImage[:image]) %></a>
			                </div>
			                <div class="caption row-fluid">
			                    <div class="col-sm-4">
			                    	<h3><a href="<%= url_for({:controller => 'projects', :action => 'show', :id => galleryImage[:project]}) %>"><%= galleryImage[:project].name %></a></h3>
			                    </div>
			                	<div class="col-sm-8">
			                		<p><%= textilizable(galleryImage[:project].description, :project => galleryImage[:project]) %></p>
			                	</div>
			                </div>
			            </div>
					<% end %>
		        </div>
		
		        <div class="control-box">                            
		            <a data-slide="prev" href="#carouselMainPage" class="carousel-control left">‹</a>
		            <a data-slide="next" href="#carouselMainPage" class="carousel-control right">›</a>
		        </div>
		    </div>
		</div>	
		
		<div class="tab-pane row" id="tags" style="height:500px;width:800px;">
			<!-- Only display if html5/tagcanvas is not supported -->
			<div id="tagsNotSupported" class="alert" style="display:none">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Warning!</strong> Graph visualisation is not compatible with Internet Explorer. <br/> Please switch to <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a>	or <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a> for the tree view.
			</div>
			
	    	<canvas width="850" height="500" id="tagCanvas">
	    		<% @tagsDict.each do |tag, ocurrence| %> 
				  <%= link_to(tag, {:controller => 'search_custom_field', :f => [43], :op => {43=>'~'}, :v => {43=>[tag]}}, {:style => "font-size: #{ocurrence+8}pt" }) %>
	    		<% end %>
			 </canvas>
		</div>		    		
	</div>
</div>

<!-- Create the tree unless it's IE --> 	    
<% if !(request.env["HTTP_USER_AGENT"] =~ /MSIE/)%>
	<%= javascript_include_tag('projectstree.js') %>
<% end %>
<%= javascript_include_tag('jquery.tagcanvas.min.js') %>

<script>

jQuery(function()
{
	//Projects index page
	var family=getParameterByName('family');
	var specie=getParameterByName('specie');
	var brain=getParameterByName('brain');
	var cell=getParameterByName('cell');
	var spine=getParameterByName('spine');
	if(spine!="")
	{
		openSpecificTree(spine,family,specie,brain,cell);
	}
	else
	{
		standardOpening();
	}
	
	// -- Add filter
	setupFilter('#cellsfilter', '#cellslist');
	
	//If any tab is requested in the url, redirect to the proper tab
	var subTabCellsList =['graph', 'listcells', 'gallery', 'tags']
	
	var a = location.href.split("#");
	if ( a.length > 1 && subTabCellsList.indexOf(a[1]) > -1){
		$("#"+a[1]+"Link").trigger("click");
	}
	
	//Init carousel for gallery view 
	$('#carouselMainPage').carousel({
	  pause: true,
	  interval: false
    });
    
    //Init tags for tags view
    if( ! $('#tagCanvas').tagcanvas({
    	textColour: '#000000',
     	// outlineThickness : 1,
     	outlineColour: '#37abc8',
     	outlineMethod: 'colour',
     	maxSpeed: 0.02,
     	depth: 0.75,
     	weight: true
     	// weightMode: 'both',
   	})) {
	    // TagCanvas failed to load
	    $('#tagCanvas').hide();
	    $('#tagsNotSupported').show();
   	}
})
</script>

