<div class="col-sm-3 navbar">
	<div class="nav">
		<form class="filterform form-search" action="#">
			<div class="input-prepend">
			  <span class="add-on"><i class="icon-filter"></i></span>
			  <input id="cellsfilter" class="filter search-query form-control" type="text" placeholder="Filter projects...">
			</div>
		</form>
    	<ul id="cellslist" class="nav overflow-list">
			<% for p in @modelProjects %>
					<li class="capitalize"><a data-toggle="tab" href="#cell<%= p.id %>"><%= p.name %></a></li>
			<% end %>		 
		</ul>
	 </div>
 </div>	 	
<div class="col-sm-9 tab-content">
	<div id="projectsSummary" style="color:#37abc8;margin:20px auto;text-align:center;">
	There are currently <%= @modelProjects.length %> cell and network projects in OSB. <br/><br/>Select a project in the list on the left to see a short description.
	</div>
	<% for p in @modelProjects %>
		<div class="tab-pane" id="cell<%= p.id %>"">
			<a class="btn btn-large btn-info pull-right" href="<%= url_for({:controller => 'projects', :action => 'show', :id => p}) %>"><icon class="icon-folder-open"></icon> Open project</a>
			<br/><br/>
			<%= textilizable(p.short_description, :project => p) %>
		</div>
	<% end %>
</div>	    

<script>
jQuery(function()
{
	// -- Add filter
	setupFilter('#cellsfilter', '#cellslist');
	jQuery('#cellslist a').click(function(){jQuery('#projectsSummary').hide();});
})
</script>
