<div class="tab-pane row" id="listcells">
	<div class="col-sm-3 navbar">
		<div class="nav">
			<form class="filterform form-search" action="#">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-filter"></i></span>
					<input id="groupsfilter" class="filter search-query form-control" type="text" placeholder="Filter groups...">
				</div>
			</form>
			<ul id="groupslist" class="nav overflow-list">
				<% for group in @groups %>
				<li class="capitalize">
					<a data-toggle="tab" href="#group<%= group.id %>"><%= group.name %></a>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="col-sm-9 tab-content">
		<div class="summary">
			There are currently <%= @groups.length %> groups in OSB. <br/><br/>Click an entry in the list on the left to see more information about a group.
		</div>
		<% for group in @groups %>
		<div class="tab-pane" id="group<%= group.id %>"">
		<h3><a class="capitalize" href="groups/<%= group.id %>"><%= group.name %> </a></h3>
		<!-- Obtained from http://findicons.com/pack/282/flags -->
		<img src="../images/<%= group.custom_field_values[4] %>.png" alt="<%= group.custom_field_values[4] %>"/>
		<p>Principal investigator: <b><%= group.custom_field_values[1] %></b> </p>
		<p><%= group.custom_field_values[3] %>, <%= group.custom_field_values[2] %>   </p>
		<ul class="nav nav-list">
		<% group.users.each do |user| %>
		<div>
			<li>
				<i class="icon-user"></i> <%= link_to_user user %>
			</li>
		</div>
		<% end %>
		</ul>
	</div>
	<% end %>
</div>
</div>

<script>
jQuery(function()
{
	// -- Add filter
	setupFilter('#groupsfilter', '#groupslist');
	jQuery('#groupslist a').click(function(){jQuery('#groupsSummary').hide();});
})
</script>
