<% content_for :header_tags do %>
  <script src="/javascripts/explore.js"></script>
<% end %>
<div class="explore-view view">
    <p class="lead">Explore Open Source Brain</p>
    <!-- This begins the vertical tab on the left-->
    <div class="tabbable tabs-left explore-sidebar">
        <ul class="nav nav-stacked col-md-3" data-tabs="tabs">
            <li><a href="#projecthighlights" id="projecthighlightsLink" data-toggle="tab">Project Highlights</a></li>
            <li><a href="#cells" id="cellsLink" data-toggle="tab">All Cells and Networks</a></li>
            <li><a href="#technology" id="technologyLink" data-toggle="tab">Technology</a></li>
            <li><a href="#groups" id="groupsLink" data-toggle="tab">Research Groups</a></li>
            <li><a href="#people" id="peopleLink" data-toggle="tab">People</a></li>
            <!-- <li><a href="#informationOSB" id="informationOSBLink" data-toggle="tab">Information on OSB</a></li>-->
            <li><a href="#announceOSB" id="announceOSBLink" data-toggle="tab">OSB Announcements</a></li>
            <li><a href="#discussOSB" id="discussOSBLink" data-toggle="tab">OSB Discussions</a></li>
            <li><a href="/tutorials">Tutorials</a></li>
        </ul>
        <div class="tab-content col-md-9">
            <div class="tab-pane" id="projecthighlights">
                <div class="project-notice">These are just a selection of some stable, well-tested projects on OSB. To see all projects click <a href="#cells" id="cellsLink2" onclick="javascript:$('#cellsLink').trigger('click');" data-toggle="tab">here</a>.</div>
                <% projects = JSON.parse(File.read("public/explore.json")) %>
                <% projects.keys.each do |k| %>
                    <div class="project-category">
                    <h2><%= k %></h2>
                    <% projects[k].each do |proj| %>
                    <div class="card">
                        <img class="card-img" src=<%= proj['image_url'] %> alt="header" />
                        <div class="card-info">
                            <div class="card-title"><%= proj['name'] %></div>
                            <div class="overlay">
                                <p class="description"><%= proj['description'] %></p>
                                <div>
                                <a href="<%= proj['url'] %>">Go to project page</a><br>
                                <% if proj['explorer_url'] %><a href="<%= proj['explorer_url'] %>">Open in 3D explorer</a><br><% end %>
                                <% if proj['extra_link_url'] %><a href="<%= proj['extra_link_url'] %>"><%= proj['extra_link_text'] %></a><% end %>
                                <% if proj['extra_link_url2'] %><a href="<%= proj['extra_link_url2'] %>"><%= proj['extra_link_text2'] %></a><% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    </div>
                <% end %>
                
	    </div>
           
            
            <!-- This begins the cells and network section -->
            <div class="tab-pane" id="cells">
	        
	        <div class="tabbable">
	            <div class="cells-tabs">
	                <div id="view-tab" class="btn-group" data-toggle="buttons">
                            <a href="#cells_graph" data-toggle="tab">
                                <label class="btn btn-default active">
  		                    <input type="radio" class="cells-browser"><icon class="icon-circle-blank"></icon> Graph view
                                    </label>
                                </a>
                                <a href="#cells_list" data-toggle="tab">
                                    <label class="btn btn-default">
  		                    <input type="radio" class="cells-browser"><icon class="icon-th-list"></icon> List view
                                    </label>
                                </a>
                                <a href="#cells_gallery" data-toggle="tab">
                                    <label class="btn btn-default">
  		                    <input type="radio" class="cells-browser"><icon class="icon-th-large"></icon> Gallery view
                                    </label>
                                </a>
                                <a href="#cells_tags" data-toggle="tab">
                                    <label class="btn btn-default">
  		                    <input type="radio" class="cells-browser"><icon class="icon-cloud"></icon> Tags view
                                    </label>
                                </a>
	                </div>
	                <br/><br/><br/>
	            </div>
	            <!-- This begins the graph or list section -->
	            <div class="tab-content" id="cells">

	                <div class="tab-pane active" id="cells_graph">
	                    <div style="text-align:center;">
		                <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
		                <br/>
		                <br/>
		                <p>
		                    Please be patient, the information is being retrieved from the OSB database.
		                </p>
	                    </div>	
	                </div>

	                <div class="tab-pane row" id="cells_list">
	                    <div style="text-align:center;">
		                <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
		                <br/>
		                <br/>
		                <p>
		                    Please be patient, the information is being retrieved from the OSB database.
		                </p>
	                    </div>
	                </div>
	                
	                <div class="tab-pane row" id="cells_gallery">
	                    <div style="text-align:center;">
		                <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
		                <br/>
		                <br/>
		                <p>
		                    Please be patient, the information is being retrieved from the OSB database.
		                </p>
	                    </div>
	                </div>	
	                
	                <div class="tab-pane row" id="cells_tags" style="text-align:center;">
	                    <div style="text-align:center;">
		                <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
		                <br/>
		                <br/>
		                <p>
		                    Please be patient, the information is being retrieved from the OSB database.
		                </p>
	                    </div>
	                </div>		    		
	            </div>
	        </div>
            </div>
            
            <!-- This begins the technology section -->
            <div class="tab-pane" id="technology">
	        <div style="text-align:center;">
	            <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
	            <br/>
	            <br/>
	            <p>
	                Please be patient, the information is being retrieved from the OSB database.
	            </p>
	        </div>	    		
            </div>
            
            <!-- This begins the research groups section -->
            <div class="tab-pane" id="groups">
	        <div style="text-align:center;">
	            <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
	            <br/>
	            <br/>
	            <p>
	                Please be patient, the information is being retrieved from the OSB database.
	            </p>
	        </div>  		
            </div>
            <!-- This begins the people section -->
            <div class="tab-pane" id="people">
	        <div style="text-align:center;">
	            <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
	            <br/>
	            <br/>
	            <p>
	                Please be patient, the information is being retrieved from the OSB database.
	            </p>
	        </div>	    		
            </div>
            <!-- This begins the information on osb section -->
            <!-- <div class="tab-pane" id="informationOSB" class="span9">
                 
	         </div> -->
            <!-- This begins the osb announce -->
            <div class="tab-pane" id="announceOSB" class="span9" style="height: 850px">
	        <div style="text-align:center;">
	            <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
	            <br/>
	            <br/>
	            <p>
	                Loading...
	            </p>
	        </div>	
            </div>
            <!-- This begins the osb discuss -->
            <div class="tab-pane" id="discussOSB" class="span9" style="height: 850px">
	        <div style="text-align:center;">
	            <img src="/images/logo/osbcircle.png" class="icon-spin pagination-centered loading-image">
	            <br/>
	            <br/>
	            <p>
	                Loading...
	            </p>
	        </div>	
            </div>
        </div>
    </div> 
</div>

<%= javascript_include_tag('d3.v3.js') %>
