<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<div class="contextual">
  <%= form_tag({}, :method => :get) do %>
    <label for="closed">
      <%= check_box_tag 'closed', 1, params[:closed], :onchange => "this.form.submit();" %>
      <%= l(:label_show_closed_projects) %>
    </label>
  <% end %>
  <%= render_project_action_links %>
</div>

<h2><%= l(:label_project_plural) %></h2>

<div id="projects-index">
<%= render_project_hierarchy(@projects) %>
</div>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="icon icon-fav my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% html_title(l(:label_project_plural)) -%>
