<%= javascript_include_tag('d3.v2.js') %>
<%= javascript_include_tag('d3.layout.js') %>
<div class="container">
	<div class="hero-unit">
		<h1>Explore Open Source Brain</h1>
		<% if !(request.env["HTTP_USER_AGENT"] =~ /MSIE/)%>
			<p class="lead">Click on a node to expand or collapse. Projects are shown in <b class="blue">blue</b>, click on them to open the project page.</p>
		<% else %>
			<p class="lead">Switch to Google Chrome or Mozilla Firefox to enhanced visualization.</p>
		<% end %>
		
		<div class="tabbable">
			<div class="row pagination-centered">
				<div id="view-tab" class="span10 btn-group" data-toggle="buttons-radio">
		  			<button class="btn btn-large active" href="#tab1" data-toggle="tab">Graph view</button>
		  			<button class="btn btn-large" href="#tab2" data-toggle="tab">List view</button>
				</div>
				<br/><br/><br/>
			</div>
		
			<!-- Tabbable table -->
			<div class="tab-content">
			    <div class="tab-pane active" id="tab1">
					<div id="body"></div>
					<p id="jsontree" style="display: none;"><%= createJSONProjectTree(@projects)%><p>	
			    </div>
			    <div class="tab-pane" id="tab2">
			    	<div class="span12">
				    	<ul id="projects-list" class="span3 nav nav-list">
						  <li class="nav-header">Cell and network projects</li>
						  <li class="active"><a href="#cells">A</a></li>
						  <li class=""><a href="#cells">B</a></li>
						  <li class=""><a href="#cells">C</a></li>
						  <li class=""><a href="#cells">D</a></li>
						  <li class="nav-header">Technology showcase projects</li>
						  <li class="active"><a href="#showcase">B</a></li>
						  <li class=""><a href="#showcase">D</a></li>
						  <li class=""><a href="#cells">D</a></li>
						  <li class=""><a href="#cells">D</a></li>
						</ul>
						<div class="span8 tab-content">
				    		<div class="tab-pane active" id="cells">
				    			<%= render_project_hierarchy(@projects, 'Project')%>
				    		</div>
				    		<div class="tab-pane" id="showcase">
				    			<%= render_project_hierarchy(@projects, 'Showcase')%>
				    		</div>		
			    		</div>	    
		    		</div>	    		
				</div>
		    </div>
	    </div>
		

		<!-- Create the tree --> 	    
	    <% if !(request.env["HTTP_USER_AGENT"] =~ /MSIE/)%>
			<%= javascript_include_tag('projectstree.js') %>
		<% end %>
		
	</div>
</div>
	



