<div class="contextual">
  <%= form_tag({}, :method => :get) do %>
  <% end %>
  <%= render_project_action_links %>
</div>

<h2><%= @query.new_record? ? l(:label_project_plural) : @query.name %></h2>

<%= form_tag(projects_path(@project, nil), :method => :get, :id => 'query_form') do %>
<%= render :partial => 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @entries.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render :partial => @query.display_type, :locals => { :entries => @entries }%>
  <% end %>
<% end %>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="icon icon-user my-project"><%= l(:label_my_projects) %></span>
<span class="icon icon-bookmarked-project"><%= l(:label_my_bookmarks) %></span>
</p>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'projects/sidebar' %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.atom_key} %>
  <% if @query.display_type == 'list' %>
    <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '350px'); return false;" %>
  <% end %>
<% end %>

<% html_title(l(:label_project_plural)) -%>
