<%= javascript_include_tag('d3.v2.js') %>
<%= javascript_include_tag('d3.layout.js') %>
<div class="container">
	<div class="explore-view">
		<h1>Explore Open Source Brain</h1>
		<% if !(request.env["HTTP_USER_AGENT"] =~ /MSIE/)%>
			<p class="lead">Click on a node to expand or collapse. Projects are shown in <b class="blue">blue</b>, click on them to open the project page.</p>
		<% else %>
			<p class="lead">Switch to Google Chrome or Mozilla Firefox to enhanced visualization.</p>
		<% end %>
		
		<div class="tabbable">
			<div class="row pagination-centered">
				<div id="view-tab" class="span12 btn-group" data-toggle="buttons-radio">
		  			<button class="btn btn-large active" href="#tab1" data-toggle="tab">Graph view</button>
		  			<button class="btn btn-large" href="#tab2" data-toggle="tab">List view</button>
				</div>
				<br/><br/><br/>
			</div>
		
			<!-- Tabbable table -->
			<div class="tab-content">
			    <div class="tab-pane active" id="tab1">
					<div id="body"></div>
					<p id="jsontree" style="display: none;"><%= createJSONProjectTree(@projects)%><p>	
			    </div>
			    <div class="tab-pane" id="tab2">
			    	<div class="span4 navbar">
				    	<div class="nav-collapse">
				    		<form class="filterform form-search" action="#">
				    			<div class="input-prepend">
								  <span class="add-on"><i class="icon-filter"></i></span>
								  <input class="filterinput search-query" type="text" placeholder="Filter projects...">
								</div>


							</form>
					    	<ul id="projectlist" class="nav projects-list">
								<% for p in @projects %>
									<%  p.visible_custom_field_values.each do |custom_value| %>
										<% if (custom_value.custom_field.name == 'Category') %>
			              					<% if (custom_value.value == 'Project') %>
												<li class=""><a data-toggle="tab" href="#cell<%= p.id %>"><%= p.name %></a></li>
											<% end %>
										<% end %>
									<% end %>
								<% end %>		 
							</ul>
						 </div>
					 </div>	 	
					<div class="span7 tab-content">
						<% for p in @projects %>
							<%  p.visible_custom_field_values.each do |custom_value| %>
								<% if (custom_value.custom_field.name == 'Category') %>
	              					<% if (custom_value.value == 'Project') %>
	              						<div class="tab-pane" id="cell<%= p.id %>"">
	              							<a class="btn btn-large btn-primary" href="<%= url_for({:controller => 'projects', :action => 'show', :id => p}) %>">Open project</a>
			    							<br/><br/>
			    							<%= textilizable(p.short_description, :project => p) %>
			    						</div>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
		    		</div>	    
	    		</div>	    		
		    </div>
	    </div>
		

		<!-- Create the tree --> 	    
	    <% if !(request.env["HTTP_USER_AGENT"] =~ /MSIE/)%>
			<%= javascript_include_tag('projectstree.js') %>
		<% end %>
		
	</div>
</div>
	



