<%= javascript_include_tag('Detector.js') %>

<div class="row">
	<% unless @project.active? %>
	<p class="warning">
		<span class="icon icon-lock"><%= l(:text_project_closed) %></span>
	</p>
	<% end %>

	<div class="span3 bs-docs-sidebar">
		<ul id="project_overview_list" class="nav nav-list bs-docs-sidenav">
		</ul>
	</div>
  
  
	<div id="project_overview_sections" class="span9">
		<!-- DESCRIPTION -->
		<section id="description">
			<div class="page-header">
				<h2>Description</h2>
			</div>
				<%= textilizable(@project.description) %>
		</section>
		<!-- SUBPROJECT -->
		<% if @subprojects.any? %>		
			<section id="subprojects">
				<div class="page-header">
					<h2>Sub-Projects</h2>
				</div>
				<p class="lead">
					<%= l(:label_subproject_plural)%>:
					<%= @subprojects.collect{|p| link_to(h(p), :action => 'show', :id => p)}.join(", ").html_safe %>
				</p>
			</section>
		<% end %>
		<!-- STATUS -->
		<% @project.visible_custom_field_values.each do |custom_value| %>
			<% if !custom_value.value.blank? %>
				<% if custom_value.custom_field.name == 'Status info' %>
					<section id="status">
						<div class="page-header">
							<h2>Status</h2>
						</div>
						<%= textilizable(show_value(custom_value)) %>	
						<%= getStatusBadges(@project) %>
						<br><br>
						<% if @project.repository != nil %>
							<% @exportOptions = getExportFunctions(@project.repository) %>
							<% @exportOptions.keys.each do |exportOption| %>
								<a href="http://127.0.0.1:8080/org.neuroml.visualiser/?engine=<%=exportOption%>" class="btn icon-download-alt" rel="nofollow"> Download as <%= exportOption %></a>
							<% end %>
						<% end %>	
					</section>
				<% end %>
			<% end %>
		<% end %>
		<!-- MEMBERS -->
		<section id="members">
			<div class="page-header">
				<h2>Members</h2>
			</div>
			<%= render :partial => 'members_box' %>
		</section>
		<!-- CUSTOM VALUE SECTION -->
		<% modeldb=getCustomField(@project,'ModelDB reference') %>
		<% original=getCustomField(@project,'Original format') %>
		<% ghrepo=getCustomField(@project,'GitHub repository') %>
		<% bbrepo=getCustomField(@project,'Bitbucket repository') %>
		<% tags=getCustomField(@project,'Tags') %>
		<% neuroLexIds=getCustomField(@project,'NeuroLex Ids: Cells') %>
		<% roles = User.current.roles_for_project(@project).collect(&:name) %>
		<% if (modeldb!=nil and  modeldb!="") or (original!=nil and original!="") or (ghrepo!=nil and ghrepo!="")  or (bbrepo!=nil and bbrepo!="") or (tags!=nil and tags!='' and tags!=[nil]) or (neuroLexIds!=nil and neuroLexIds!="") or (roles.include? 'Developer' or roles.include? 'Manager' or User.current.admin?) %>
			<section id="references">
				<div class="page-header">
					<h2>References</h2>
				</div>
				<% if modeldb!=nil and  modeldb!="" %>
					<p class="lead">The original published version of this model is available on
					<% if !modeldb.starts_with? 'http://senselab.med.yale.edu/ModelDB/ShowModel.asp?model=' %>
						<a target="_blank" href="http://senselab.med.yale.edu/ModelDB/ShowModel.asp?model=<%= h modeldb %>"> <img alt="ModelDB" border="0" src="../images/modeldb.gif"/></a>
					<% else %>
						<a target="_blank" href="<%= h modeldb %>"> <img alt="ModelDB" border="0" src="../images/modeldb.gif"/></a>
					<% end %>
				<% end %>
				<% if original!=nil and original!="" %>
					<p class="lead">This model was originally developed in: <strong><%= h link_to_search_by_custom_field(@project, 'Original format') %></strong></p>
				<% end %>
				<% if ghrepo!=nil and ghrepo!="" %>
					<p class="lead">The code for this model is hosted on GitHub: <a href="<%= h ghrepo %>"><%= h ghrepo %></a></p>
				<% end %>
				<% if bbrepo!=nil and bbrepo!="" %>
					<p class="lead">The code for this model is hosted on Bitbucket: <a href="<%= h bbrepo %>"><%= h bbrepo %></a></p>
				<% end %>
				
				<%= render :partial=>'tags', :locals=>{:tags=>tags, :roles=>roles} %>
				
				<%= render :partial=>'neuroLexIds', :locals=>{:neuroLexIds=>neuroLexIds} %>

				</section>
		<% end %>
					
		<% html_title(l(:label_overview)) -%>
	</div>
</div>