<%= javascript_include_tag('Detector.js') %>

<div id="exernalcontent" class="row">
	<% unless @project.active? %>
	<p class="warning">
		<span class="icon icon-lock"><%= l(:text_project_closed) %></span>
	</p>
	<% end %>

	<div class="span3 bs-docs-sidebar">
		<ul id="project_overview_list" class="nav nav-list bs-docs-sidenav">
		</ul>
	</div>
  
	<div id="project_overview_sections" class="span9">
		<!-- DESCRIPTION -->
		<section id="description">
			<div class="page-header">
				<h2>Description</h2>
			</div>
				<%= textilizable @project.description %>
				<% unless @project.homepage.blank? %>
					<% if h(@project.homepage).starts_with? 'http://opensourcebrain.org/embedded' or h(@project.homepage).starts_with? 'http://www.opensourcebrain.org/embedded'%>
						<p><a href="<%= @project.homepage %>">More...</a></p>
					<% end %>
				<% end %>
		</section>
		<!-- SUBPROJECT -->
		<% if @subprojects.any? %>		
			<section id="subprojects">
				<div class="page-header">
					<h2>Sub-Projects</h2>
				</div>
				<p class="lead">
					<%= l(:label_subproject_plural)%>:
					<%= @subprojects.collect{|p| link_to(h(p), :action => 'show', :id => p)}.join(", ").html_safe %>
				</p>
			</section>
		<% end %>
		<!-- STATUS -->
		<% @project.visible_custom_field_values.each do |custom_value| %>
			<% if !custom_value.value.blank? %>
				<% if custom_value.custom_field.name == 'Status info' %>
					<section id="status">
						<div class="page-header">
							<h2>Status</h2>
						</div>
						<p class="lead">
							<%= textilizable show_value(custom_value) %>
						</p>
					</section>
				<% end %>
			<% end %>
		<% end %>
		<!-- MEMBERS -->
		<section id="members">
			<div class="page-header">
				<h2>Members</h2>
			</div>
			<%= render :partial => 'members_box' %>
		</section>
		<!-- CUSTOM VALUE SECTION -->
		<% @project.visible_custom_field_values.each do |custom_value| %>
			<% if !custom_value.value.blank? %>
				<% if custom_value.custom_field.name == 'GitHub repository' %>
					<section id="repository">
						<div class="page-header">
							<h2>Repository</h2>
						</div>
						<p class="lead">
							The source for this project is hosted on GitHub:  <a target="_blank" href='<%= h show_value(custom_value) %>'><%= h show_value(custom_value) %></a>
						</p>
					</section>
				<% end %>
				<% if custom_value.custom_field.name == 'BitBucket repository' %>
					<% @repourl=custom_value.value %>
					<section id="repository">
						<div class="page-header">
							<h2>Repository</h2>
						</div>
						<p class="lead">
							The source for this project is hosted on BitBucket:  <a target="_blank" href='<%= h show_value(custom_value) %>'><%= h show_value(custom_value) %></a>
						</p>
					</section>
				<% end %>
				<% if custom_value.custom_field.name == 'NeuroML version' %>
					<% @repourl=custom_value.value %>
					<section id="repository">
						<div class="page-header">
							<h2>NeuroML compatibility</h2>
						</div>
						<p class="lead">
							The minimum version of NeuroML for this model is: <b><%= h show_value(custom_value) %></b>
						</p>
					</section>
				<% end %>
				<% if custom_value.custom_field.name == 'ModelDB reference' %>
					<% @repourl=custom_value.value %>
					<section id="references">
						<div class="page-header">
							<h2>References</h2>
						</div>
						<p class="lead">The original published version of this model is available on ModelDB:</p>
						<% if !show_value(custom_value).starts_with? 'http://senselab.med.yale.edu/ModelDB/ShowModel.asp?model=' %>
						<p>
							<a target="_blank" href="http://senselab.med.yale.edu/ModelDB/ShowModel.asp?model=<%= h show_value(custom_value) %>"> <img alt="ModelDB" border="0" src="../images/modeldb.gif"/></a>
						</p>
						<% else %>
						<p>
							<a target="_blank" href="<%= h show_value(custom_value) %>"> <img alt="ModelDB" border="0" src="../images/modeldb.gif"/></a>
						</p>
						<% end %>
				<% elsif custom_value.custom_field.name == 'Original format' %>
					<section id="references">
						<div class="page-header">
							<h2>References</h2>
						</div>
						<p class="lead">This model was originally developed in: <b><%= h show_value(custom_value) %></b></p>
					</section>
				<% end %>
			<% end %>
		<% end %>
		<% html_title(l(:label_overview)) -%>
	</div>
</div>


