<div class="tab-pane row" id="listcells">
	<div class="col-sm-4 navbar">
    	<div class="nav">
    		<form class="filterform form-search" action="#">
    			<div class="input-prepend">
				  <span class="add-on"><i class="icon-filter"></i></span>
				  <input id="technologyfilter" class="filter search-query form-control" type="text" placeholder="Filter technologies...">
				</div>
			</form>
	    	<ul id="technologylist" class="nav overflow-list">
				<% for p in @showcaseProjects %>
					<li class="capitalize"><a data-toggle="tab" href="#cell<%= p.id %>"><%= p.name %></a></li>
				<% end %>		 
			</ul>
		 </div>
	 </div>	 	
	<div class="col-sm-8 tab-content">
		<div class="summary">
			There are currently <%= @showcaseProjects.length %> technology showcase projects in OSB. <br/><br/>Select a project in the list on the left to see a short description.
		</div>
		<% for p in @showcaseProjects %>
			<div class="tab-pane" id="cell<%= p.id %>">
				<a class="btn btn-large btn-info pull-right" href="<%= url_for({:controller => 'projects', :action => 'show', :id => p}) %>"><icon class="icon-folder-open"></icon> Open project</a>
				<br/><br/>
				<%= textilizable(p.short_description, :project => p) %>
			</div>
		<% end %>
	</div>	    
</div>

<script>
jQuery(function()
{
	// -- Add filter
	setupFilter('#technologyfilter', '#technologylist');
	jQuery('#technologylist a').click(function(){jQuery('#technologySummary').hide();});
})
</script>
