<%= title [l(:label_custom_field_plural), custom_fields_path],
  [l(@custom_field.type_name), custom_fields_path(:tab => @custom_field.class.name)],
  @custom_field.name %>

<%= form_tag(custom_field_enumeration_path(@custom_field, @value), :method => :delete) do %>
<div class="box">
<p><strong><%= l(:text_enumeration_destroy_question, :name => @value.name, :count => @value.objects_count) %></strong></p>
<p><label for='reassign_to_id'><%= l(:text_enumeration_category_reassign_to) %></label>
<%= select_tag('reassign_to_id', content_tag('option', "--- #{l(:actionview_instancetag_blank_option)} ---", :value => '') + options_from_collection_for_select(@enumerations, 'id', 'name')) %></p>
</div>

<%= submit_tag l(:button_apply) %>
<%= link_to l(:button_cancel), custom_field_enumerations_path(@custom_field) %>
<% end %>
