<% @changesets.each do |changeset| %>
  <div id="changeset-<%= changeset.id %>" class="changeset journal">
    <div class="note">
    <h4 class='note-header'>
      <%= avatar(changeset.user, :size => "24") %>
      <%= authoring changeset.committed_on, changeset.author, :label => :label_added_time_by %>
    </h4>
    <p>
    <%= "#{changeset.project.name} - " unless changeset.project == project %>
    <%= link_to_revision(changeset, changeset.repository,
                        :text => "#{l(:label_revision)} #{changeset.format_identifier}") %>
    <% if changeset.filechanges.any? && User.current.allowed_to?(:browse_repository, changeset.project) %>
    (<%= link_to(l(:label_diff),
           :controller => 'repositories',
           :action => 'diff',
           :id     => changeset.project,
           :repository_id => changeset.repository.identifier_param,
           :path   => "",
           :rev    => changeset.identifier) %>)
    <% end %></p>

    <div class="wiki changeset-comments">
      <%= format_changeset_comments changeset %>
    </div>
    </div>
  </div>
  <%= call_hook(:view_issues_history_changeset_bottom, { :changeset => changeset }) %>
<% end %>
