<%= form_tag({}, :id => "status_by_form") do -%>
<fieldset>
<legend>
<%= l(:label_issues_by,
       select_tag('status_by',
                   status_by_options_for_select(criteria),
                   :id => 'status_by_select',
                   :data => {:remote => true, :method => 'post', :url => status_by_version_path(version)})).html_safe %>
</legend>
<% if counts.empty? %>
    <p><em><%= l(:label_no_data) %></em></p>
<% else %>
    <table>
    <% counts.each do |count| %>
    <tr>
        <td width="130px" align="right" >
          <% if count[:group] -%>
            <%= link_to(h(count[:group]), project_issues_path(version.project, :set_filter => 1, :status_id => '*', :fixed_version_id => version, "#{criteria}_id" => count[:group])) %>
          <% else -%>
            <%= link_to(l(:label_none), project_issues_path(version.project, :set_filter => 1, :status_id => '*', :fixed_version_id => version, "#{criteria}_id" => "!*")) %>
          <% end %>
        </td>
        <td width="240px">
            <%= progress_bar((count[:closed].to_f / count[:total])*100,
                  :legend => "#{count[:closed]}/#{count[:total]}",
                  :width => "#{(count[:total].to_f / max * 200).floor}px;") %>
        </td>
    </tr>
    <% end %>
    </table>
<% end %>
</fieldset>
<% end %>
