<h2>Status</h2>

<p>These status values are currently based on a manual curation process, scoring the models on 
    the completeness of the translation of the model from the original format to NeuroML (or PyNN). </p>
<p>For simulators, the "star" score represents <b>how well the model translates to the specific simulator from the simulator 
    independent format, NOT the availability of original scripts in that simulator</b>. </p>

<!--p OSB <%= params[:osb] %>, p user <%= params[:user] %>, params <%= params.inspect %>, inc <%= params.include?(:user) %>...-->

<% showosb = params.include?(:osb) ? params[:osb] : 'true' %>
<% showuser = params.include?(:user) ? params[:user] : 'false' %>

<!--s OSB <%= showosb %>, s user <%= showuser %>-->

<%= form_tag("/status", method: "get") do %>
  <%= label_tag(:q, "Include user projects:") %> <%= check_box_tag(:user, true, false) %> <%= submit_tag("Update") %>
<% end %>


<%= render_status_table(@projects, showosb, showuser)%>


<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
