<h1><%= link_to("#{issue.tracker.name} ##{issue.id}: #{issue.subject}", issue_url) %></h1>

<%= render_email_issue_attributes(issue, users.first, true) %>

<div class="description"><%= textilizable(issue, :description, :only_path => false) %></div>

<% if issue.attachments.any? %>
  <fieldset class="attachments"><legend><%= l(:label_attachment_plural) %></legend>
  <% issue.attachments.each do |attachment| %>
    <%= link_to_attachment attachment, :download => true, :only_path => false %>
    (<%= number_to_human_size(attachment.filesize) %>)<br />
  <% end %>
  </fieldset>
<% end %>
