<% if @user.auth_source %>
<p><%= l(:mail_body_account_information_external, h(@user.auth_source.name)) %></p>
<% else %>
<p><%= l(:mail_body_account_information) %>:</p>
<ul>
    <li><%= l(:field_login) %>: <%= @user.login %></li>
    <li><%= l(:field_password) %>: <%= @password %></li>
</ul>
<% end %>

<p><%= l(:label_login) %>: <%= link_to @login_url, @login_url %></p>
