<% if @journal.private_notes? %>
  (<%= l(:field_private_notes) %>)
<% end %>
<%= l(:text_issue_updated, :id => "##{@issue.id}", :author => h(@journal.user)) %>

<ul>
<% details_to_strings(@journal_details, false, :only_path => false).each do |string| %>
  <li><%= string %></li>
<% end %>
</ul>

<%= textilizable(@journal, :notes, :only_path => false) %>
<hr />
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :users => @users, :issue_url => @issue_url } %>
