<%= title [l(:label_role_plural), roles_path], l(:label_permissions_report) %>

<%= form_tag(permissions_roles_path, :id => 'permissions_form') do %>
<%= hidden_field_tag 'permissions[0]', '', :id => nil %>

<%= stylesheet_link_tag 'divgrid' %>
<%= javascript_include_tag 'divgrid' %>

<div style="position: relative; overflow: hidden; white-space: nowrap; border-width: 1px; border-style: solid; border-color: #CCC;">
  <!-- Cell 0 -->
  <div id="g_bl" style="position: absolute; z-index: 2;">
    <div class="g_c g_h">&nbsp;</div>
  </div>
  <!-- Line 0  -->
  <div id="g_fl" style="position: absolute; left: 0px; right: 13px; overflow: hidden; z-index: 1;">
      <div style="display: inline-block; margin-right: -4px;">
        <div class="g_c g_h">&nbsp;</div>
      </div>
      <% @roles.each do |role| %>
        <div style="display: inline-block; margin-right: -4px;">
          <div class="g_c g_h">
            <%= content_tag(role.builtin? ? 'em' : 'span', role.name) %>
          </div>
        </div>
      <% end %>
  </div>
  <!-- Row 0 -->
  <div id="g_fr" style="position: absolute; left: 0px; top: 0px; bottom: 13px; overflow: hidden; z-index: 1;">
    <% perms_by_module = @permissions.group_by {|p| p.project_module.to_s} %>
    <% even = true %>
    <% perms_by_module.keys.sort.each do |mod| %>
      <div class="g_c g_v g_s<%= (even)? " g_e":" g_o" %>">
        <%= l_or_humanize(mod, :prefix => 'project_module_') %>
      </div>
      <% even = !even %>
      <% perms_by_module[mod].each do |permission| %>
        <div class="g_c g_v<%= (even)? " g_e":" g_o" %>">
          <% even = !even %>
          <%= l_or_humanize(permission.name, :prefix => 'permission_') %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Body -->
  <div id="g_bd" style="width: 100%; max-height: 80vh; overflow: scroll;" onscroll="g_scroll(this, 'g_fl', 'g_fr')">
    <div style="display: inline-block; margin-right: -4px;"></div>
    <% @roles.each do |role| %>
      <div style="display: inline-block; margin-right: -4px;">
        <% even = true %>
        <% perms_by_module.keys.sort.each do |mod| %>
          <div class="g_c<%= " g_s" unless role == @roles.last %><%= (even)? " g_e":" g_o" %>"></div>
          <% even = !even %>
          <% perms_by_module[mod].each do |permission| %>
            <div class="g_c<%= (even)? " g_e":" g_o" %>" title="<%= "#{l_or_humanize(permission.name, :prefix => 'permission_')} - #{role.name}" %>">
              <% even = !even %>
              <% if role.setable_permissions.include? permission %>
                  <%= check_box_tag "permissions[#{role.id}][]", permission.name, (role.permissions.include? permission.name), :id => nil, :class => "role-#{role.id}" %>
              <% end %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

<script> g_adjust('g_bl', 'g_fr', 'g_fl', 'g_bd'); </script>

<p><%= check_all_links 'permissions_form' %></p>
<p><%= submit_tag l(:button_save) %></p>
<% end %>
