<h2><%= @issue.tracker %> #<%= @issue.id %></h2>
<p><%= authoring @journal.created_on, @journal.user, :label => :label_updated_time_by %></p>

<pre class="text-diff"><%= @diff.to_html %></pre>

<p>
  <%= link_to(l(:button_back), issue_path(@issue),
              :onclick => 'if (document.referrer != "") {history.back(); return false;}') %>
</p>

<% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>
