<h3 class="title"><%= l(:permission_add_issue_watchers) %></h3>

<%= form_tag({:controller => 'watchers',
              :action => (watched ? 'create' : 'append'),
              :object_type => (watched && watched.class.name.underscore),
              :object_id => watched,
              :project_id => @project},
             :remote => true,
             :method => :post,
             :id => 'new-watcher-form') do %>

  <p><%= label_tag 'user_search', l(:label_user_search) %><%= text_field_tag 'user_search', nil %></p>
  <%= javascript_tag "observeSearchfield('user_search', 'users_for_watcher', '#{ escape_javascript url_for(:controller => 'watchers',
                 :action => 'autocomplete_for_user',
                 :object_type => (watched && watched.class.name.underscore),
                 :object_id => watched,
                 :project_id => @project) }')" %>

  <div id="users_for_watcher">
    <%= principals_check_box_tags('watcher[user_ids][]', users) %>
  </div>

  <p class="buttons">
    <%= submit_tag l(:button_add), :name => nil, :onclick => "hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>
