<%= title [l(:label_tracker_plural), trackers_path], l(:field_summary) %>

<% if @trackers.any? %>
  <%= form_tag fields_trackers_path do %>
    <%= stylesheet_link_tag 'divgrid' %>
    <%= javascript_include_tag 'divgrid' %>

    <div style="position: relative; overflow: hidden; white-space: nowrap; border-width: 1px; border-style: solid; border-color: #CCC;">
      <!-- Cell 0 -->
      <div id="g_bl" style="position: absolute; z-index: 2;">
        <div class="g_c g_h">&nbsp;</div>
      </div>
      <!-- Line 0  -->
      <div id="g_fl" style="position: absolute; left: 0px; right: 13px; overflow: hidden; z-index: 1;">
        <div style="display: inline-block; margin-right: -4px;">
          <div class="g_c g_h">&nbsp;</div>
        </div>
        <% @trackers.each do |tracker| %>
          <div style="display: inline-block; margin-right: -4px;">
            <div class="g_c g_h">
              <%= tracker.name %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Row 0 -->
      <div id="g_fr" style="position: absolute; left: 0px; top: 0px; bottom: 13px; overflow: hidden; z-index: 1;">
        <div class="g_c">&nbsp;</div>
        <% even = false %>
        <div class="g_c g_v g_s<%= (even)? " g_e":" g_o" %>">
          <% even = !even %>
          <%= l(:field_core_fields) %>
        </div>
        <% Tracker::CORE_FIELDS.each do |field| %>
          <div class="g_c g_v<%= (even)? " g_e":" g_o" %>">
            <% even = !even %>
            <%= l("field_#{field}".sub(/_id$/, '')) %>
          </div>
        <% end %>
        <% if @custom_fields.any? %>
          <div class="g_c g_v g_s<%= (even)? " g_e":" g_o" %>">
            <% even = !even %>
            <%= l(:label_custom_field_plural) %>
          </div>
          <% @custom_fields.each do |field| %>
            <div class="g_c g_v<%= (even)? " g_e":" g_o" %>">
              <% even = !even %>
              <%= field.name %>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- Body -->
      <div id="g_bd" style="width: 100%; max-height: 80vh; overflow: scroll;" onscroll="g_scroll(this, 'g_fl', 'g_fr')">
        <div style="display: inline-block; margin-right: -4px;"></div>
        <% @trackers.each do |tracker| %>
          <div style="display: inline-block; margin-right: -4px;">
            <div class="g_c">&nbsp;</div>
            <% even = false %>
            <div class="g_c<%= " g_s" unless tracker == @trackers.last %><%= (even)? " g_e":" g_o" %>"></div>
            <% even = !even %>
            <% Tracker::CORE_FIELDS.each do |field| %>
              <div class="g_c<%= (even)? " g_e":" g_o" %>" title="<%= "#{l("field_#{field}".sub(/_id$/, ''))} - #{tracker}" %>">
                <% even = !even %>
                <%= check_box_tag "trackers[#{tracker.id}][core_fields][]", field, tracker.core_fields.include?(field),
                                  :class => "tracker-#{tracker.id} core-field-#{field}", :id => nil %>
              </div>
            <% end %>
            <% if @custom_fields.any? %>
              <div class="g_c<%= " g_s" unless tracker == @trackers.last %><%= (even)? " g_e":" g_o" %>"></div>
              <% even = !even %>
              <% @custom_fields.each do |field| %>
                <div class="g_c<%= (even)? " g_e":" g_o" %>" title="<%= "#{field.name} - #{tracker}" %>">
                  <% even = !even %>
                  <%= check_box_tag "trackers[#{tracker.id}][custom_field_ids][]", field.id, tracker.custom_fields.include?(field),
                                    :class => "tracker-#{tracker.id} custom-field-#{field.id}", :id => nil %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <p><%= submit_tag l(:button_save) %></p>
    <% @trackers.each do |tracker| %>
      <%= hidden_field_tag "trackers[#{tracker.id}][core_fields][]", '' %>
      <%= hidden_field_tag "trackers[#{tracker.id}][custom_field_ids][]", '' %>
    <% end %>
  <% end %>

  <script> g_adjust('g_bl', 'g_fr', 'g_fl', 'g_bd'); </script>

<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
