<div class="contextual">
<%= link_to sprite_icon('add', l(:label_tracker_new)), new_tracker_path, :class => 'icon icon-add' %>
<%= link_to sprite_icon('summary', l(:field_summary)), fields_trackers_path, :class => 'icon icon-summary' %>
</div>

<h2><%=l(:label_tracker_plural)%></h2>

<table class="list trackers">
  <thead><tr>
  <th><%=l(:label_tracker)%></th>
  <th><%=l(:field_default_status)%></th>
  <th><%=l(:field_description)%></th>
  <th></th>
  <th></th>
  </tr></thead>
  <tbody>
<% for tracker in @trackers %>
  <tr>
  <td class="name"><%= link_to tracker.name, edit_tracker_path(tracker) %></td>
  <td><%= tracker.default_status.name %></td>
  <td class="description"><%= tracker.description %></td>
  <td>
    <% unless tracker.workflow_rules.exists? %>
      <span class="icon icon-warning">
        <%= sprite_icon('warning', l(:text_tracker_no_workflow)) %> (<%= link_to l(:button_edit), edit_workflows_path(:tracker_id => tracker) %>)
      </span>
    <% end %>
  </td>
  <td class="buttons">
    <%= reorder_handle(tracker) %>
    <%= link_to sprite_icon('copy', l(:button_copy)), new_tracker_path(:copy => tracker), :class => 'icon icon-copy' %>
    <%= delete_link tracker_path(tracker) %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<% html_title(l(:label_tracker_plural)) -%>

<%= javascript_tag do %>
  $(function() { $("table.trackers tbody").positionedItems(); });
<% end %>
