<%= call_hook :view_account_login_top %>
<div class="pull-right sidetitle">OSB Sign in <i class="icon-signin"></i></div>
<%= form_tag(signin_path, :class => 'form-horizontal login-form', onsubmit: 'return keepAnchorOnSignIn(this);') do %>
    <%= back_url_hidden_field_tag %>
    <div class="form-group">
    	<label class="col-sm-2 control-label" for="username">
            <%= l(:field_login)%>:
        </label>
	<div class="col-sm-3">
            <input type="text" name="username" tabindex="1" class="form-control">
        </div>
    </div>

    <div class="form-group">
	<label class="col-sm-2 control-label" for="password">
            <%= l(:field_password)%>:
        </label>
	<div class="col-sm-3">
            <input type="password" name="password" tabindex="2" class="form-control">
        </div>
    </div>
    
    <% if Setting.openid? %>
	<div class="form-group">
	    <label class="col-sm-2 control-label" for="openid_url">
                <%= l(:field_identity_url)%>
            </label>
	    <div class="col-sm-3">
                <input type="text" name="openid_url", tabindex="3" class="form-control">
            </div>
	</div>
    <% end %>

    <% if Setting.autologin? %>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label for="autologin">
                        <input id="accept" id="autologin" name="autologin" type="checkbox" value="1" tabindex="4">
                        <%= l(:label_stay_logged_in) %>
                    </label>
                </div>
            </div>
        </div>
    <% end %>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
	    <button type="submit" class="btn btn-large btn-success" id="loginButton" name="login" tabindex="5">
                <%= l(:button_login)%>
            </button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
	    <p><b>Please note: There is a different user database for OSBv1 and OSBv2. Please sign in with your v1 login here. Learn more about OSBv1 and OSBv2 <a href="https://docs.opensourcebrain.org/General/GettingStarted.html#which-version-of-osb-should-i-use">here</a>.
        </div>
    </div>

    <% if Setting.lost_password? %>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
	        <%= link_to l(:label_password_lost), lost_password_path %>
            </div>      
            <div class="col-sm-offset-2 col-sm-10">
                <%= link_to "Not yet registered? Sign up here!", "/account/register" %>
            </div>
        </div>
    <% end %>
            
<% end %>

<%= call_hook :view_account_login_bottom %>

<% if params[:username].present? %>
    <%= javascript_tag "$('#password').focus();" %>
<% else %>
    <%= javascript_tag "$('#username').focus();" %>
<% end %>

<script>
 $('#loginButton').click(function(e){
     e.preventDefault();
     callGeppetto("logout?outputFormat=json", processOSBLogin, false);
 });
</script>
