<%= call_hook :view_account_login_top %>
<div class="pull-right lead sidetitle">OSB Sign in <i class="icon-signin"></i></div>
<div id="login-form">
	<%= form_tag(signin_path) do %>
	<%= back_url_hidden_field_tag %>


		<div class="control-group">
			<label class="control-label" for="username"><%= l(:field_login)%>:</label>
			<div class="controls"><%= text_field_tag 'username', params[:username], :tabindex => '1' %></div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password"><%= l(:field_password)%>:</label>
			<div class="controls"><%= password_field_tag 'password', nil, :tabindex => '2' %></div>
		</div>
		
		<% if Setting.openid? %>
			<div class="control-group">
				<label class="control-label" for="openid_url"><%= l(:field_identity_url)%></label>
				<div class="controls"><%= text_field_tag "openid_url", nil, :tabindex => '3' %></div>
			</div>
		<% end %>
		<div class="control-group">
			<% if Setting.autologin? %> <label for="autologin"><%= check_box_tag 'autologin', 1, false, :tabindex => 4 %> <%= l(:label_stay_logged_in) %></label> <% end %>
		</div>
		<div class="control-group">
			<div class="nolabelcontrols"><input type="submit" class="btn btn-large btn-success" id="loginButton" name="login" value="<%= l(:button_login)%> &#187;" tabindex="5"/></div>
		</div>
		<div class="control-group">
			<% if Setting.lost_password? %>
				<div class="nolabelcontrols"><%= link_to l(:label_password_lost), lost_password_path %></div>
			<% end %>
		</div>

	<% end %>
</div>

<%= call_hook :view_account_login_bottom %>

<% if params[:username].present? %>
<%= javascript_tag "$('#password').focus();" %>
<% else %>
<%= javascript_tag "$('#username').focus();" %>
<% end %>

<script>
$('#loginButton').click(function(e){
	e.preventDefault();
    callGeppetto("logout?outputFormat=json", processOSBLogin, false);
});
</script>