<div class="row pull-right lead sidetitle ">OSB Sign up <i class="icon-pencil"></i></div>

<%= labelled_form_for @user, :url => register_path do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">

<div id="registerForm">
<% if @user.auth_source_id.nil? %>
  <div class="control-group"><%= f.text_field :login, :size => 25, :required => true %></div>

  <div class="control-group"><%= f.password_field :password, :size => 25, :required => true %>
 	 <div class="popoverform"><icon class="popoverlink icon-2x icon-lightbulb"target="_blank" data-toggle="popover" data-trigger="hover" title="" data-content="<%= l(:text_caracters_minimum, :count => Setting.password_min_length) %>" data-original-title="Password"></icon></div>
  </div>

  <div class="control-group"><%= f.password_field :password_confirmation, :size => 25, :required => true %></div>
<% end %>

<div class="control-group"><%= f.text_field :firstname, :required => true %></div>
<div class="control-group"><%= f.text_field :lastname, :required => true %></div>
<div class="control-group"><%= f.text_field :mail, :required => true %></div>

<% if Setting.openid? %>
  <div class="control-group"><%= f.text_field :identity_url  %></div>
<% end %>

<% @user.custom_field_values.select {|v| v.required?}.each do |value| %>
  <div class="control-group"><%= custom_field_tag_with_label :user, value %>
  	<% if value.custom_field.name=="URL" %>
  		<div class="popoverform"><icon class="popoverlink icon-2x icon-lightbulb"target="_blank" data-toggle="popover" data-trigger="hover" title="" data-content="You should provide a valid URL to a lab, instituion, company or software project webpage with which you are directly associated." data-original-title="Affiliation"></icon></div>
  	<% end %>
  </div>
<% end %>

<div class="control-group">
	<div class="nolabelcontrols">
		<%= submit_tag l(:button_submit), :class => "btn btn-large btn-success" %>
	</div>
</div>

<!-- Introduce for recaptcha plugin-->
<div class="control-group">
<%= recaptcha_tags :site_key => Setting.plugin_recaptcha['recaptcha_public_key'] %>
</div>

</div>
</div>

<% end %>

