<div class="row pull-right sidetitle">OSB Sign up <i class="icon-pencil"></i></div>

<%= labelled_form_for @user, :html => { :class => "form-horizontal new-user" }, :url => register_path do |f| %>
    <%= error_messages_for 'user' %>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
	    <p><b>Please note: There is a different user database for OSBv1 and OSBv2. This is to sign up to OSBv1 only.</b></p>
        <p>Learn more about OSBv1 and OSBv2 <a href="https://docs.opensourcebrain.org/General/GettingStarted.html#which-version-of-osb-should-i-use">here</a>.</p>
        </div>
    </div>

    <% if @user.auth_source_id.nil? %>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="user_login">
                <%= l(:field_login) %> *
            </label>
            <%= f.text_field :login, :size => 25, :required => true, :no_label => true, :class => 'form-control col-sm-2' %>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="user_password">
                <%= l(:field_password) %> *
            </label>
            <%= f.password_field :password, :size => 25, :required => true, :no_label => true, :class => 'form-control col-sm-2' %>
 	    <div class="popoverform"><icon class="popoverlink icon-2x icon-lightbulb"target="_blank" data-toggle="popover" data-trigger="hover" title="" 
                                           data-content="<%= l(:text_caracters_minimum, :count => Setting.password_min_length) %>" data-original-title="Password"></icon></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="user_password_confirmation">
                <%= l(:field_password_confirmation) %> *
            </label>
            <%= f.password_field :password_confirmation, :size => 25, :required => true, :no_label => true, :class => 'form-control col-sm-2' %>
        </div>
    <% end %>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="user_firstname">
            <%= l(:field_firstname) %> *
        </label>
        <%= f.text_field :firstname, :required => true, :no_label => true, :class => 'form-control col-sm-2' %>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="user_lastname">
            <%= l(:field_lastname) %> *
        </label>
        <%= f.text_field :lastname, :required => true, :no_label => true, :class => 'form-control col-sm-2' %>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="user_mail">
            <%= l(:field_mail) %> *
        </label>
        <%= f.text_field :mail, :required => true, :no_label => true, :class => 'form-control col-sm-2' %>
    </div>

    <% if Setting.openid? %>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="user_identity_url">
                <%= l(:field_identity_url) %>
            </label>
            <%= f.text_field :identity_url, :no_label => true, :class => 'form-control col-sm-2' %>
        </div>
    <% end %>

    <% @user.custom_field_values.select {|v| ["URL","GitHub username","ORCID ID","What is your interest in OSB?"].include? v.custom_field.name}.each do |value| %>
        <div class="form-group"><%= custom_field_tag_with_label :user, value %>
  	    <% if value.custom_field.name=="URL" %>
  		    <div class="popoverform"><icon class="popoverlink icon-2x icon-lightbulb"target="_blank" data-toggle="popover" data-trigger="hover" title="" data-content="You should provide a valid URL to a lab, instituion, company or software project webpage with which you are directly associated." data-original-title="Affiliation"></icon></div>
  	    <% end %>
        </div>
    <% end %>


    <div class="form-group">
        <label class="col-sm-2 control-label">Activation token (optional)</label>
        <div class="control-label col-sm-3">
            <%= text_field_tag :activation_token, params[:activation_token], :class=> 'form-control col-sm-2' %>
        </div>
        <div class="popoverform"><icon class="popoverlink icon-2x icon-lightbulb"target="_blank" data-toggle="popover" data-trigger="hover" title="" data-content="If you were given an activation token please type it here." data-original-title="Activation Token"></icon></div>
    </div>


<% unless @user.force_default_language? %>
    <!--<p><%# f.select :language, lang_options_for_select %></p>-->
    <div class="form-group">
        <label class="col-sm-2 control-label" for="user_language">
            <%= l(:field_language) %>
        </label>
        <%= f.select :language, lang_options_for_select, {:no_label => true},  {:class =>'form-control col-sm-2'} %>
    </div>
<% end %>

    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
	    <%= submit_tag l(:button_submit), :class => "btn btn-large btn-success" %>
        </div>
    </div>

    <!-- Introduce for recaptcha plugin-->
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
            <%= recaptcha_tags :site_key => Setting.plugin_recaptcha['recaptcha_public_key'] %>
        </div>
    </div>
<% end %>

