<h2><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>

<%= labelled_form_for @user, :url => {:action => 'register'} do |f| %>
<%= error_messages_for 'user' %>

<div class="box tabular">


<p>Interested parties are welcome to sign up at this stage, but please be aware:</p>
<p><b>Your name will be publicly visible on the website.</b></p>
<p><b>You should provide a valid URL to a lab, company or software project webpage with which you are directly associated.</b></p>
<p>Note that the Open Source Brain is in an early stage of development, meaning significant changes are possible to the website and the repositories it hosts. All user information and activity will be preserved, although the layout & flow of content may alter. </p>

<div id="registerForm">
<% if @user.auth_source_id.nil? %>
  <p><%= f.text_field :login, :size => 25, :required => true %></p>

  <p><%= f.password_field :password, :size => 25, :required => true %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

  <p><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>

<p><%= f.text_field :firstname, :required => true %></p>
<p><%= f.text_field :lastname, :required => true %></p>
<p><%= f.text_field :mail, :required => true %></p>
<p><%= f.select :language, lang_options_for_select %></p>

<% if Setting.openid? %>
  <p><%= f.text_field :identity_url  %></p>
<% end %>

<% @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
  <p><%= custom_field_tag_with_label :user, value %></p>
<% end %>
<%= submit_tag l(:button_submit) %>
</div>
</div>


<% end %>
