<script type="text/javascript" src="/javascripts/jquery.simplyscroll.min.js"></script>

<div class="pull-right sidetitle">About OSB <i class="icon-group"></i></div>
<br/></br/></br/><br/>
<div>
	<div class="marketing">
		<h1>What?</h1>
		<p class="marketing-byline">
		<br/><strong>Open Source Brain</strong> is a resource for sharing and collaboratively developing <a  target="_blank" href="http://en.wikipedia.org/wiki/Computational_neuroscience">
		computational models of neural systems</a> using the best practices of <a target="_blank" href="https://opensource.org/">open source software development</a>. 
		
		<br/><br/>
		While the models can be submitted to OSB and developed in any format, we will actively encourage the use of open standards such as 
		<a  target="_blank" href="http://www.neuroml.org">NeuroML</a> and <a target="_blank" href="http://neuralensemble.org/PyNN/">PyNN</a>, 
		to ensure transparency, modularity, accessibility and cross simulator portability.
		
		<br/><br/>
		OSB will provide advanced facilities to analyse, visualise and transform and simulate models in these formats, and to connect researchers interested in models of specific neurons, brain regions and disease states. 

		<br/><br/><strong>Note: Open Source Brain v2.0 has now been released!</strong> Read more about <a href="https://docs.opensourcebrain.org/General/GettingStarted.html#which-version-of-osb-should-i-use">which version of OSB to use</a>. 
		</p>
		<hr class="soften">
		<h1>Why?</h1>
		<p class="marketing-byline">
		<br/>
		Increasingly detailed single neuron and network models are becoming available which 
		encapsulate the latest data on anatomical and electrophysiological properties of the systems being investigated. These complex models 
		take a long time to develop and are normally only available in one of many incompatible, simulator specific formats. 			
		<br/><br/>
		Allowing these to be analysed, simulated, reused and critically evaluated by as many researchers as possible will increase the power and scientific 
		rigour of neuronal models and make them more accessible to a wider range of neuroscientists.
		</p>
		<hr class="soften">
		<a href="#" name="who_about"></a>
		<h1>Who?</h1> 
		<p class="marketing-byline">
			<br/>		
			The Open Source Brain initiative was started in the <a href="groups/7">Silver Lab</a> at <a  target="_blank"  href="http://www.ucl.ac.uk">UCL</a> 
			as part of a <a target="_blank" href="http://www.wellcome.ac.uk/">Wellcome Trust</a> funded project to encourage collaborative development of models in computational neuroscience.
			<br/>	
			<br/>A number of <a href="http://www.opensourcebrain.org/projects#groups">research groups and organisations</a> from all over the world are currently actively developing and sharing their neuronal models on OSB.
 			<br/>
        <p class="facts"><%= @allusers.length %> Members &nbsp;&nbsp;  <%= @groups.length %> Research groups &nbsp;&nbsp;  <%= @allprojects.length %> Projects</p>
 			<br/>
 			<div id="aboutmap">
				<ul id="labs" class="pull-left">
					<% for group in @groups %>
						<li class="labname"> <a href="groups/<%=  group.id %>"><%=  group.name %> </a></li>
					<% end %>
					<% @group = nil %>
				</ul>
			</div>
		</p>
        
        <hr class="soften">
		<h1>More questions?</h1>
		<p class="marketing-byline">
		<br/>
        
		<br/>Browse our <a href="https://docs.opensourcebrain.org/OSBv1/Getting_Started.html">Documentation</a>, see our <a href="https://docs.opensourcebrain.org/General/FAQ.html">Open Source Brain FAQs</a>, follow us on Twitter at <a href="https://twitter.com/OSBTeam">@OSBTeam</a>, or <a href="https://docs.opensourcebrain.org/General/Contacts.html">get in contact</a>.
        </p>
        
		<br/><br/>
	</div>
</div>



<script type="text/javascript">
(function($) {
	$(function() { //on DOM ready 
    		jQuery("#labs").simplyScroll({
			customClass: 'vert',
			orientation: 'vertical',
            auto: true,
            manualMode: 'loop',
			frameRate: 20,
			speed: 1
		});
	});
 })(jQuery);
</script>

