<% content_for :header_tags do %>
    <script src="/javascripts/project.js"></script>
<% end %>
<%= render "projects/header" %>
<div id="projectbody"> 
<h2><%= @author.nil? ? "": l(:label_user_activity, link_to_user(@author)).html_safe %></h2>
<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', {:url => params.merge(:from => nil, :key => User.current.rss_key),:class=>"btn icon-rss btn-rss", :caption=>" News feed"}%>
<% end %>
<br/> 
<div id="activity">
	<% @actID=0 %>
	<% @events_by_day.keys.sort.reverse.each do |day| %>
		<% @actID=@actID+1 %>
		<div class="row activity-item">
		<% sort_activity_events(@events_by_day[day]).each do |e, in_group| -%>
			<% @actID=@actID+1 %>
				<div class="row activity-item">
			  		<div class="col-md-1 <%= "E_"+e.event_type %> <%= "grouped" if in_group %><%= User.current.logged? && e.respond_to?(:event_author) && User.current == e.event_author ? 'me' : nil %>"></div>
			  		<div class="col-md-9">
			  			<div class="time row" id="<%= 'T'+@actID.to_s() %>"><%= javascript_tag "jQuery('#{'#T'+@actID.to_s()}').html(moment('#{e.event_datetime}', 'YYYY-MM-DD HH:mm:ss Z').fromNow());" %></div>
			  			<div class="author row"><strong><%= link_to_user(e.event_author) if e.respond_to?(:event_author) %> edited
			  			
			  			<%= content_tag('span', h(e.project), :class => 'project-title') if @project.nil? || @project != e.project %></strong></div>
			  			<div class="row">
			  			<%= avatar(e.event_author, :size => "50", :class => "img-rounded") if e.respond_to?(:event_author) %>
			  			<%= link_to format_activity_title(e.event_title), e.event_url %>
			  			</div>
			  			<div class="<%= "grouped" if in_group %> row-fluid">
			  				<div class="description"><%= format_activity_description(e.event_description) %></div>
		  				</div>
		  			</div>
				</div>
			<% end -%>
		</div>
	<% end -%>
</div>

<% if @events_by_day.empty? %>
	<div class="alert alert-warning fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
    	<strong>Oops!</strong> No data to display!</a>
  	</div>
<% end %>

<br/>
<div class="btn-group">
<%= link_to_content_update(l(:label_previous),
                   params.merge(:from => @date_to - @days - 1),{:class=>"btn",
                   :title => l(:label_date_from_to, :start => format_date(@date_to - 2*@days), :end => format_date(@date_to - @days - 1))}) %>

<%= link_to_content_update(l(:label_next),
                   params.merge(:from => @date_to + @days - 1),{:class=>"btn",
                   :title => l(:label_date_from_to, :start => format_date(@date_to), :end => format_date(@date_to + @days - 1))}) unless @date_to >= Date.today %>
</div>



<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, params.merge(:format => 'atom', :from => nil, :key => User.current.rss_key)) %>
<% end %>



<% html_title(l(:label_activity), @author) -%>
</div>
