<div class="pull-right lead sidetitle"><%=l(:button_change_password)%> <i class="icon-key"></i></div>

<%= error_messages_for 'user' %>

<%= form_tag({}, :class => "form-horizontal new-user") do %>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="password"><%=l(:field_password)%> <span class="required">*</span></label>
			<div class="col-sm-3 controls"><%= password_field_tag 'password', nil, :size => 25, :class => 'form-control col-sm-2' %></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="new_password"><%=l(:field_new_password)%> <span class="required">*</span></label>
			<div class="col-sm-3 controls"><%= password_field_tag 'new_password', nil, :size => 25, :class => 'form-control col-sm-2' %></div>
			<div class="popoverform"><icon class="popoverlink icon-2x icon-lightbulb"target="_blank" data-toggle="popover" data-trigger="hover" title="" data-content="<%= l(:text_caracters_minimum, :count => Setting.password_min_length) %>" data-original-title="Password"></icon></div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="new_password_confirmation"><%=l(:field_password_confirmation)%> <span class="required">*</span></label>
			<div class="col-sm-3 controls"><%= password_field_tag 'new_password_confirmation', nil, :size => 25, :class => 'form-control col-sm-2' %></div>
		</div>
	<br/>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= submit_tag l(:button_apply), :class=>"btn btn-success btn-large" %>
		</div>
	</div>
<% end %>

<% unless @user.must_change_password? %>
<% content_for :sidebar do %>
<%= render :partial => 'sidebar' %>
<% end %>
<% end %>
