<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<link rel="icon" type="image/png" href="favicon.png">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title><%= h html_title %></title>
		<meta name="description" content="<%= Redmine::Info.app_name %>" />
		<meta name="keywords" content="issue,bug,tracker" />
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<%= csrf_meta_tag %>
		<%= favicon %> 
		<%= stylesheet_link_tag 'jquery/jquery-ui-1.9.2', 'application', :media => 'all' %>
		<%= javascript_heads %>
		<%= heads_for_theme %>
		<%= javascript_include_tag('bootstrap.min.js') %>
		<%= javascript_include_tag('moment.min.js') %>
		<%= javascript_include_tag('main.js') %>
		<%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
		<%= stylesheet_link_tag 'bootstrap-responsive', :media => 'all' %>
		<%= stylesheet_link_tag 'font-awesome', :media => 'all' %>
		<%= stylesheet_link_tag 'application', :media => 'all' %>
		<%= stylesheet_link_tag 'prettify', :media => 'all' %>
		<%= call_hook :view_layouts_base_html_head %>
		<!-- page specific tags -->
		<%= yield :header_tags -%>
	</head>

	<body  data-target=".bs-docs-sidebar" class="<%= h body_css_classes %>">
		<!-- Save server ip locally-->
		<input id="serverIP" type="hidden" value="<%= session[:serverIP] %>">
		<input id="geppettoIP" type="hidden" value="<%= session[:geppettoIP] %>">
		<!-- NAVIGATOR -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" >
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <div class="span5" id="osblogo" onclick="window.location.href='/';"></div>
		            <% if User.current.logged? || !Setting.login_required? %>
				    <div id="quick-search" class="span4">
				        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
					        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
					        <%= hidden_field_tag("projects", 1) %>
					        <!--<%= link_to '<icon class="icon-question-sign"/>'.html_safe, {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>-->
					        <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
					        <a href="#" id="searchLink"><icon class="icon-search"/></a>
					        <% if User.current.logged? %>
					        	<a href="#" id="toolsLink"><icon class="icon-plus-sign"/></a>
					        <% end %>	
					        <%= javascript_tag 'jQuery("#searchLink").click(function(){$(this).closest("form").submit(); return false;})' %>
					        <%= javascript_tag 'jQuery("#toolsLink").click(function(){$(this).children("icon").toggleClass("icon-plus-sign").toggleClass("icon-minus-sign"); $("#project_quick_jump_box").toggle();})' %>
				        <% end %>
				        
				        <%= render_project_jump_box %>
				        
				    </div>
				    <% end %>
					<div class="nav-collapse collapse">
						<div id="header_menu" class="span5 pull-right">
							<%= render_menu :account_menu -%>
							<%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
							<%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CONTENT -->
		<div id="wrap">
			<div id="content">
				<div id="main" class="container">
					<br/></br/><br/>
					<% if display_main_menu?(@project) %>
						<% category =  getCustomField(@project,"Category")  %>
						<% isAProject = (category=="Project" or category=="Showcase") %>
						<!-- If we are inside a project then we show the project header -->
						<div id="mainheader" class="page-header">
					  		<h1 id="pname"><%= @project.name %><small id="author"> </small></h1>
					  		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
							<% if isBestPractice?(@project) %>
								<%= getGeneralBadge(@project, 'Endorsement', 'OSB best practice project', 'This project is endorsed by OSB and has been identified as fulfilling OSB best practices for projects.', '', 'label label-success') %>
								<a class="twitterbutton icon-twitter-sign tooltiplink clickable" data-toggle='tooltip' data-placement='right' title='Share this project on Twitter!' href="https://twitter.com/share?text=Check out the <%= @project.name %> project on Open Source Brain! via @osbteam&tw_p=tweetbutton&url=<%= Rack::Utils.escape(url_for(:only_path => false)) %>" target="_blank"></a>
								<%= getTooltipedBadge(@project,'Curation level','Curation against published models','How well does the curated NeuroML/PyNN version of this model reproduce published models? See Status for more details.') %> 
								<br/><br/>
								<% if category=="Project" %>
									<%= getProjectBreadcrumb(@project) %>
								<% end %>
							<% elsif isEndorsedNotBestPractice?(@project) %>
								<%= getGeneralBadge(@project, 'Endorsement', 'OSB endorsed project', 'This project is endorsed by OSB and is officially supported.', '', 'label label-info') %>
								<a class="twitterbutton icon-twitter-sign tooltiplink clickable" data-toggle='tooltip' data-placement='right' title='Share this project on Twitter!' href="https://twitter.com/share?text=Check out the <%= @project.name %> project on Open Source Brain! via @osbteam&tw_p=tweetbutton&url=<%= Rack::Utils.escape(url_for(:only_path => false)) %>" target="_blank"></a>
								<%= getTooltipedBadge(@project,'Curation level','Curation against published models','How well does the curated NeuroML/PyNN version of this model reproduce published models? See Status for more details.') %> 
								<br/><br/>
								<% if category=="Project" %>
									<%= getProjectBreadcrumb(@project) %>
								<% end %>
							<% else %>
								<% if isAProject %>
									<%= getGeneralBadge(@project, 'Endorsement', 'User project', 'This is a personal user project and has not yet been endorsed by OSB. Please get in contact (info@opensourcebrain.org) to have this project endorsed!', '', 'label label-warning') %>
								<% end %>
								<a class="twitterbutton icon-twitter-sign tooltiplink clickable" data-toggle='tooltip' data-placement='right' title='Share on Twitter!' href="https://twitter.com/share?text=Checkout <%= @project.name %> project on Open Source Brain! via @osbteam&tw_p=tweetbutton&url=<%= Rack::Utils.escape(url_for(:only_path => false)) %>" target="_blank"></a>
								<br/><br/>
							<% end %>
  							
							<div class="navbar">
								<div id="menucontainer" class="navbar-inner">
									<a class="brand" href="#">OSB</a>
									<% if display_main_menu?(@project) %>
										<%= render_main_menu(@project) %>
									<% end %>
									<% if isAProject %>
										<%= javascript_tag 'jQuery("#menucontainer > ul li:eq(0)").after("<li class=dropdown><a class=dropdown-toggle data-toggle=dropdown href=#><i class=icon-eye-open></i><strong> OSB 3D Explorer </strong><b class=caret></b></a><ul class=dropdown-menu id=explorermenu role=menu aria-labelledby=dropdownMenu></ul></li>");' %>
									<% end %>
								</div>
							</div>
						</div>
						<% @neuroml2files = getNML2Files(@project.repository) %>
						
						<% if isAProject %>
							<% @networkfiles = getNetworkFiles() %>
							<% @channelfiles = getChannelFiles() %>
							<% @synapsefiles = getSynapsesFiles() %>
							<% @cellfiles = getCellFiles() %>
						
							<% @repourl=getHttpRepositoryURL(@project) %>
							
							<% if(@repourl && @project.repository != nil)%>
							<% @repopath=getHttpRepositoryPath(@project.repository) %>
								
								<% if not @networkfiles.empty? %>
									<%= javascript_tag 'jQuery("#explorermenu").append("<li class=dropdown-submenu ><a tabindex=-1 href=#>Networks</a><ul class=dropdown-menu id=networkmenu></ul></li>");' %>
									<% for nml2file in @networkfiles %>
										<%= javascript_tag 'jQuery("#networkmenu").append("<li><a  href=# tabindex=-1 onclick=open3DExplorer(encodeURIComponent(&quot;'+ @repourl + @repopath + nml2file + '&quot;));>'+ nml2file + '</a></li>");'%>
									<% end %>
									</ul>
								<% end %>
								<% if not @channelfiles.empty? %>
									<%= javascript_tag 'jQuery("#explorermenu").append("<li class=dropdown-submenu ><a tabindex=-1 href=#>Channels</a><ul class=dropdown-menu id=channelmenu></ul></li>");' %>
									<% for nml2file in @channelfiles %>
										<%= javascript_tag 'jQuery("#channelmenu").append("<li><a  href=# tabindex=-1 onclick=open3DExplorer(encodeURIComponent(&quot;'+ @repourl + @repopath + nml2file + '&quot;));>'+ nml2file + '</a></li>");'%>
									<% end %>
									</ul>
								<% end %>
								<% if not @synapsefiles.empty? %>
									<%= javascript_tag 'jQuery("#explorermenu").append("<li class=dropdown-submenu ><a tabindex=-1 href=#>Synapses</a><ul class=dropdown-menu id=synapsesmenu></ul></li>");' %>
									<% for nml2file in @synapsefiles %>
										<%= javascript_tag 'jQuery("#synapsesmenu").append("<li><a  href=# tabindex=-1 onclick=open3DExplorer(encodeURIComponent(&quot;'+ @repourl + @repopath + nml2file + '&quot;));>'+ nml2file + '</a></li>");'%>
									<% end %>
									</ul>
								<% end %>
								<% if not @cellfiles.empty? %>
									<%= javascript_tag 'jQuery("#explorermenu").append("<li class=dropdown-submenu ><a tabindex=-1 href=#>Cells</a><ul class=dropdown-menu id=cellsmenu></ul></li>");' %>
									<% for nml2file in @cellfiles %>
										<%= javascript_tag 'jQuery("#cellsmenu").append("<li><a  href=# tabindex=-1 onclick=open3DExplorer(encodeURIComponent(&quot;'+ @repourl + @repopath + nml2file + '&quot;));>'+ nml2file + '</a></li>");'%>
									<% end %>
									</ul>
								<% end %>
								<% if (not @neuroml2files.empty?) %>
									<%= javascript_tag 'jQuery("#explorermenu").append("<li class=dropdown-submenu ><a tabindex=-1 href=#>Other</a><ul class=dropdown-menu id=othermenu></ul></li>");' %>
									<% for nml2file in @neuroml2files %>
										<% if not nml2file.ends_with?(".net.nml", ".channel.nml", ".synapse.nml", ".cell.nml") %>
											<%= javascript_tag 'jQuery("#othermenu").append("<li><a  href=# tabindex=-1 onclick=open3DExplorer(encodeURIComponent(&quot;'+ @repourl + @repopath + nml2file + '&quot;));>'+ nml2file + '</a></li>");'%>
										<% end %>									
									<% end %>
								<% else %>
									<%= javascript_tag 'jQuery("#explorermenu").append("<li><a tabindex=-1>No NeuroML2 files found!</a></li>");' %>
								<% end %>
							<% else %>
								<%= javascript_tag 'jQuery("#explorermenu").append("<li><a tabindex=-1>No NeuroML2 files found!</a></li>");' %>
							<% end %>
						<% end %>	
					<% end %>
					<div id="mainContent" style="padding-bottom: 80px;">
						<%= call_hook :view_layouts_base_content %>
						<%= render_flash_messages %>
						<!-- page specific content -->
						<%= yield %>
					</div>
					<div id="ajax-modal" style="display:none;"></div>
				</div>
			</div>
		</div>
		<!-- FOOTER -->
		<%= call_hook :view_layouts_base_body_bottom %>
		<footer class="footer">
			<div class="container">
				<a href="https://twitter.com/OSBTeam" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @OSBTeam</a>
				<script>
				!function(d,s,id){
					var js,fjs=d.getElementsByTagName(s)[0];
					if(!d.getElementById(id)){
						js=d.createElement(s);
						js.id=id;
						js.src="//platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js,fjs);
					}
				}
				(document,"script","twitter-wjs");
				</script>
				
				<a href="http://www.wellcome.ac.uk/" id="wellcomelogolink"> <div id="wellcomelogo"></div> </a>
				
				<div>
					<ul class="footer-links">
						<li>
							<a href="/docs#Getting_Started">Help</a> |
						</li>
						<!-- <li>
							<a href="/guides.html">Guides</a> |
						</li>-->
						<li>
							<a href="/docs/Research_Themes">Research Themes</a> |
						</li> 
						<li>
							<a href="/about.html">About</a>
						</li>
					</ul>
					<div class="license">The Open Source Brain Initiative 2015. Website powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %></div>
				</div>
			</div>
		</footer>
	</body>
</html>

<script>

jQuery(function()
{	
	//Show project page
	<% if @project!=nil %>
		var geturl=getParameterByName('explorer');
		if(geturl!='')
		{
			open3DExplorer(geturl);
		}
		else
		{
			<% if @neuroml2files!=nil %>
				if(<%= @neuroml2files.empty? %>) {
					disableOSBExplorer();
					jQuery("#osbexplorermessage").html("The current project doesn't contain any NeuroML2 file. Help converting this model to be able to use OSB 3D Explorer or raise an issue to do so!");
				}
				else if(<%= (@repourl and @repourl["https://github"]==nil)==true%>) {
					disableOSBExplorer();
					jQuery("#osbexplorermessage").html("Sorry, OSB 3D Explorer is currently available only for repositories hosted on GitHub.");
				}
				else if (!Detector.webgl) {
					disableOSBExplorer();
					jQuery("#osbexplorermessage").html("Sorry, your browser doesn\'t support <a href='http://khronos.org/webgl/wiki/Getting_a_WebGL_Implementation'>WebGL</a> which is required to use OSB 3D Explorer.");
				}
			<% end %>
		}
	<% end %>
	
	
	
})
</script>

<%= javascript_include_tag('prettify.js') %>

<!--<ul class="bs-docs-social-buttons">
	<li class="follow-btn">
		<a href="https://twitter.com/osbteam" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @osbteam</a>
	</li>
	<li class="tweet-btn">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://opensourcebrain.org" data-count="horizontal" data-via="osbteam" data-related="Interesting -> Open Source Brain online repository for computational neural models!">Tweet</a>
	</li>
</ul>-->
