<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title><%= h html_title %></title>
		<meta name="description" content="<%= Redmine::Info.app_name %>" />
		<meta name="keywords" content="issue,bug,tracker" />
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<%= csrf_meta_tag %>
		<%= favicon %>
		<%= stylesheet_link_tag 'jquery/jquery-ui-1.9.2', 'application', :media => 'all' %>
		<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
		<%= javascript_heads %>
		<%= heads_for_theme %>
		<%= javascript_include_tag('bootstrap.min.js') %>
		<%= javascript_include_tag('moment.min.js') %>
		<%= javascript_include_tag('main.js') %>
		<%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
		<%= stylesheet_link_tag 'bootstrap-responsive', :media => 'all' %>
		<%= stylesheet_link_tag 'font-awesome', :media => 'all' %>
		<%= stylesheet_link_tag 'application', :media => 'all' %>
		<%= stylesheet_link_tag 'prettify', :media => 'all' %>

		<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>

		
		<!--[if IE 6]>
		<style type="text/css">
		* html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
		body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
		</style>
		<![endif]-->
		<%= call_hook :view_layouts_base_html_head %>
		<!-- page specific tags -->
		<%= yield :header_tags -%>
	</head>

	<body class="<%= h body_css_classes %>">

		<!-- NAVIGATOR -->

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" >
					<div class="row">
						<div class="span5" id="osblogo" onclick="window.location.href='/';"></div>
						<!--<ul class="bs-docs-social-buttons">
							<li class="follow-btn">
								<a href="https://twitter.com/osbteam" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @osbteam</a>
							</li>
							<li class="tweet-btn">
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://opensourcebrain.org" data-count="horizontal" data-via="osbteam" data-related="Interesting -> Open Source Brain online repository for computational neural models!">Tweet</a>
							</li>
						</ul>-->
						<div id="header_menu" class="span7 pull-right">
							<%= render_menu :account_menu -%>
							<%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
							<%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
							<!--<%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
								<%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
								<%= text_field_tag 'q', @question, :size => 100, :placeholder=>'Search Open Source Brain',:type=>'text', :results=>5, :class => 'search-query', :accesskey => accesskey(:quick_search) %>
							<% end %>-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- CONTENT -->

		<div id="content">
			<div class="container">
			
			<% if display_main_menu?(@project) %>

					<div class="page-header">
					  <h1 id="pname"><%= @project.name %><small id="author"> </small></h1>
						<ul class="breadcrumb">
							<li><a href="#">Animal Kingdom</a> <span class="divider">/</span></li>
							<li><a href="#">Vertebrate</a> <span class="divider">/</span></li>
							<li><a href="#">Rodent</a> <span class="divider">/</span></li>
							<li><a href="#">Cerebellum</a> <span class="divider">/</span></li>
							<li class="active">Purkinje Cell</li>
						</ul>
					</div>
					<div class="navbar">
						<div id="menucontainer" class="navbar-inner">
							<a class="brand" href="#">OSB</a>
							<% if display_main_menu?(@project) %>
								<%= render_main_menu(@project) %>
							<% end %>
						</div>
					</div>
			<% end %>
			<div>
			<%= call_hook :view_layouts_base_content %>
			
			</div>
				<%= render_flash_messages %>
				<%= yield %>
				<div id="ajax-indicator" style="display:none;">
					<span><%= l(:label_loading) %></span>
				</div>
				<div id="ajax-modal" style="display:none;"></div>
			</div>
		</div>
		</div>
		<!-- FOOTER -->

		<%= call_hook :view_layouts_base_body_bottom %>
		<footer class="footer">
			<div class="container">
				<a href="http://www.wellcome.ac.uk/"> <div id="wellcomelogo"></div> </a>
				<ul class="footer-links">
					<li>
						<a href="/about.html">About</a>
					</li>
					<li>
						<a href="/guides.html">Guides</a>
					</li>
					<li>
						<a href="/themes.html">Research Themes</a>
					</li>
				</ul>
				</p>Open Source Brain &#169; 2013. All rights reserved. Website powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %></p>
			</div>
		</footer>

	</body>
</html>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<%= javascript_include_tag('prettify.js') %>
