<!DOCTYPE html>
<html lang="<%= current_language %>">
    <head>
        <title><%= h html_title %></title>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="Open Source Brain is a resource for sharing and collaboratively developing computational models of neural systems.">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%= csrf_meta_tag %>
        <%= favicon %>
        <%= heads_for_theme %>
        <script>
         hasGeppettoServer = <%= Rails.application.config.serversIP["hasGeppettoServer"] %>;
         geppettoIP = "<%= Rails.application.config.serversIP['geppettoIP']  %>";
         geppettoContextPath = "<%= Rails.application.config.serversIP["geppettoContextPath"]  %>";
         redmineLogin = "<%= User.current.login %>";
         redmineHashed = "<%= User.current.hashed_password %>";
	 dropboxKey = "<%= getCustomField(User.current, 'dropbox_key') %>";
        </script>
        <%= javascript_heads %>
        <%= javascript_include_tag 'bootstrap.min.js' %>
        <%= javascript_include_tag 'moment.min.js' %>
        <%= javascript_include_tag 'main.js' %>
        <%= javascript_include_tag 'yaml.js' %>
        <%= javascript_include_tag 'geppetto.js' %>
        <%= javascript_include_tag 'Detector.js' %>
        <%= javascript_include_tag 'prettify.js' %>
        <%= stylesheet_link_tag 'jquery/jquery-ui-1.11.0', 'application', 'responsive', :media => 'all' %>
        <%= stylesheet_link_tag 'application', :media => 'all' %>
        <%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
        <%= stylesheet_link_tag 'font-awesome', :media => 'all' %>
        <%= stylesheet_link_tag 'gpt-icons', :media => 'all' %>
        <%= stylesheet_link_tag 'prettify', :media => 'all' %>
        <%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
        <%= call_hook :view_layouts_base_html_head %>
        <!-- page specific tags -->
        <%= yield :header_tags -%>
        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
         window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
        </script>
        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <!-- End Cookie Consent plugin -->
	<script>window.twttr = (function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0],
                 t = window.twttr || {};
             if (d.getElementById(id)) return t;
             js = d.createElement(s);
             js.id = id;
             js.src = "https://platform.twitter.com/widgets.js";
             fjs.parentNode.insertBefore(js, fjs);

             t._e = [];
             t.ready = function(f) {
                 t._e.push(f);
             };
             return t;
         }(document, "script", "twitter-wjs"));</script>

        <script>
            window.addEventListener('message',function(e) {
                var key = e.message ? 'message' : 'data';
                var data = e[key];
                // if iframe is at dashboard but parent is on project, navigate to homepage
                if (e.origin + "/" != geppettoIP) { return; }
                if ((data == geppettoIP + "org.geppetto.frontend/") &&
                    window.location.search != ""){
                    if (redmineLogin != "") {
                        window.location = "/#workspace";
                    } else {
                        window.location = "/";
                    }
                }
            },false);
        </script>
    </head>
    <body class="<%= h body_css_classes %>" id="bootstrap-overrides">
        <%= call_hook :view_layouts_base_body_top %>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="osblogo" href="/"></a>
                </div>

                <div class="collapse navbar-collapse" id="top-nav">
	            <!-- Geppetto and server IP -->
	            <%= hidden_field_tag("geppettoContextPath", Rails.application.config.serversIP["geppettoContextPath"]) %>
	            <%= hidden_field_tag("geppettoIP", Rails.application.config.serversIP["geppettoIP"]) %>
	            <%= hidden_field_tag("serverIP", Rails.application.config.serversIP["serverIP"]) %>

	            <%= form_tag({:controller => 'search', :action => 'index'}, :method => :get, :class => 'navbar-form navbar-left') do %>
                        <div class="form-group">
	                    <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
	                    <%= hidden_field_tag("projects", 1) %>
                            <%= hidden_field_tag("neuroml_DB", 1) %>
	                    <%= text_field_tag 'q', @question, :size => 20, :class => 'form-control', :accesskey => accesskey(:quick_search), :placeholder => 'search projects' %>
                        </div>
	                <button href="#" class="btn search-btn">
                            <icon class="icon-search"/>
                        </button>
                    <% end %>

                    <ul class="nav navbar-nav navbar-right">
                        <% if User.current.logged? %>
                            <li class="dropdown">
                                <a href="#" class="projects-dropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Projects <span class="caret"></span></a>
                                <%= render_project_jump_box %>
                            </li>
                        <% end %>
                        <%= render_menu_items :account_menu %>
                        <% if User.current.logged? %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= User.current.login %>  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to('My Profile', user_path(User.current)) %></li>
                                    <li>
                                        <form accept-charset="UTF-8" action="/logout" method="post" class="logout">
                                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                            <input name="commit" type="submit" value="Sign out" class="logout-btn">
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
	<!-- CONTENT -->
	<div id="main" class="container">
	    <%= render_flash_messages %>
	    <!-- page specific content -->
	    <%= yield %>
	    <div id="ajax-modal" style="display:none;"></div>
	</div>
	<!-- FOOTER -->
	<%= call_hook :view_layouts_base_body_bottom %>
        <!--<div id="ajax-indicator" style="display:none;"><span><%- l(:label_loading) %></span></div>
        <!--<div id="ajax-modal" style="display:none;"></div>-->
        <footer class="footer">
          <a href="https://twitter.com/OSBTeam" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @OSBTeam</a>
          <div id="wellcomelogo">
            Supported by <a href="http://www.wellcome.ac.uk/"><img src="/images/wellcome-logo-black.png"></a>
          </div>

          <ul class="footer-links">
            <li>
              <a href="/docs#Getting_Started">Help</a>
            </li>
            <li>
              <a href="https://github.com/OpenSourceBrain/geppetto-osb/issues">Report a problem</a>
            </li>
            <li>
              <a href="/about.html">About</a>
            </li>
          </ul>
          <p class="license">
            The Open Source Brain Initiative 2023. Website powered by <a href="https://github.com/OpenSourceBrain/redmine">Redmine</a>.
          </p>
        </footer>
    </body>
</html>
