<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title><%= h html_title %></title>
		<meta name="description" content="<%= Redmine::Info.app_name %>" />
		<meta name="keywords" content="issue,bug,tracker" />
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<%= csrf_meta_tag %>
		<%= favicon %>
		<%= stylesheet_link_tag 'jquery/jquery-ui-1.9.2', 'application', :media => 'all' %>
		<%= javascript_heads %>
		<%= heads_for_theme %>
		<%= javascript_include_tag('bootstrap.min.js') %>
		<%= javascript_include_tag('moment.min.js') %>
		<%= javascript_include_tag('main.js') %>
		<%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
		<%= stylesheet_link_tag 'bootstrap-responsive', :media => 'all' %>
		<%= stylesheet_link_tag 'font-awesome', :media => 'all' %>
		<%= stylesheet_link_tag 'application', :media => 'all' %>
		<%= stylesheet_link_tag 'prettify', :media => 'all' %>
				
		<!--[if IE 6]>
		<style type="text/css">
		* html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
		body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
		</style>
		<![endif]-->
		<%= call_hook :view_layouts_base_html_head %>
		<!-- page specific tags -->
		<%= yield :header_tags -%>
	</head>

	<body  data-target=".bs-docs-sidebar" class="<%= h body_css_classes %>">
		<!-- NAVIGATOR -->

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" >
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <div class="span5" id="osblogo" onclick="window.location.href='/';"></div>
					<div class="nav-collapse collapse">
						
						<!--<ul class="bs-docs-social-buttons">
							<li class="follow-btn">
								<a href="https://twitter.com/osbteam" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @osbteam</a>
							</li>
							<li class="tweet-btn">
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://opensourcebrain.org" data-count="horizontal" data-via="osbteam" data-related="Interesting -> Open Source Brain online repository for computational neural models!">Tweet</a>
							</li>
						</ul>-->
						<div id="header_menu" class="span8 pull-right">
							<%= render_menu :account_menu -%>
							<%= content_tag('div', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
							<%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
							<!--<%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
								<%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
								<%= text_field_tag 'q', @question, :size => 100, :placeholder=>'Search Open Source Brain',:type=>'text', :results=>5, :class => 'search-query', :accesskey => accesskey(:quick_search) %>
							<% end %>-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- CONTENT -->

		<div id="content">
			<div class="container">
			
			<% if display_main_menu?(@project) %>
					<% @neuroml2files = getNML2Files(@project.repository) %>
					<div class="page-header">
				  		<h1 id="pname"><%= @project.name %><small id="author"> </small></h1>
						<% if isApproved?(@project) %>
							<span class="label label-success tooltiplink" data-toggle='tooltip' data-placement='right' title='This project is certified by OSB and is officially supported.'>OSB Certified project</span>
							<br/><br/>
							<ul class="breadcrumb">
								<li><a href="#"><%= getCustomField(@project,"Spine classification") %></a> <span class="divider">/</span></li>
								<li><a href="#"><%= getCustomField(@project,"Family") %></a> <span class="divider">/</span></li>
								<li><a href="#"><%= getCustomField(@project,"Specie") %></a> <span class="divider">/</span></li>
								<li><a href="#"><%= getCustomField(@project,"Brain region") %></a> <span class="divider">/</span></li>
								<li><a href="#"><%= getCustomField(@project,"Cell type") %></a> <span class="divider">/</span></li>
								<li class="active"><%= @project.name %></li>
							</ul>
						<% else %>
							<span class="label label-warning tooltiplink" data-toggle='tooltip' data-placement='right' title='This project has not been certified yet by OSB.'>Uncertified project</span>
							<br/><br/>
						<% end %>

					
						<div class="navbar">
							<div id="menucontainer" class="navbar-inner">
								<a class="brand" href="#">OSB</a>
								<% if display_main_menu?(@project) %>
									<%= render_main_menu(@project) %>
								<% end %>
								<%= javascript_tag 'jQuery("#menucontainer > ul").append("<li class=dropdown><a class=dropdown-toggle data-toggle=dropdown href=#><i class=icon-eye-open></i><strong> OSB 3D Explorer </strong><b class=caret></b></a><ul class=dropdown-menu id=explorermenu></ul></li>");' %>
							</div>
						</div>
					</div>
					<% @repourl=getCustomField(@project,"GitHub repository") %>
					
					<% if(@repourl and @repourl["https://github"]!=nil)%>

							<% @repourl["https://github"]="https://raw.github" %>
							<% @networkfiles=[] %>
							
							<% for nml2file in @neuroml2files %>
								<% if nml2file.ends_with?(".net.nml") %>
									<% @networkfiles.push(nml2file) %>
								<% end %>
							<% end %>
							
							<% if not @networkfiles.empty? %>
								<%= javascript_tag 'jQuery("#explorermenu").append("<li class=dropdown-submenu ><a tabindex=-1 href=#>Networks</a><ul class=dropdown-menu id=networkmenu></ul></li>");' %>

								<% for nml2file in @networkfiles %>
									<%= javascript_tag 'jQuery("#networkmenu").append("<li><a  href=# tabindex=-1 onclick=open3DExplorer(encodeURIComponent(&quot;'+ @repourl + "/master/" + nml2file + '&quot;));>'+ nml2file + '</a></li>");'%>
								<% end %>
								</ul>
							<% end %>

							<%= javascript_tag 'jQuery("#explorermenu").append("<li class=dropdown-submenu ><a tabindex=-1 href=#>Cells</a><ul class=dropdown-menu id=cellsmenu></ul></li>");' %>


							<% for nml2file in @neuroml2files %>
								<% if not nml2file.ends_with?(".net.nml") %>
										<%= javascript_tag 'jQuery("#cellsmenu").append("<li><a  href=# tabindex=-1 onclick=open3DExplorer(encodeURIComponent(&quot;'+ @repourl + "/master/" + nml2file + '&quot;));>'+ nml2file + '</a></li>");'%>
								<% end %>
							<% end %>
					<% end %>
			<% end %>
			<div>
			<%= call_hook :view_layouts_base_content %>
			
			</div>
				<%= render_flash_messages %>
				<%= yield %>
				<div id="ajax-indicator" style="display:none;">
					<span><%= l(:label_loading) %></span>
				</div>
				<div id="ajax-modal" style="display:none;"></div>
			</div>
		</div>
		</div>
		<!-- FOOTER -->

		<%= call_hook :view_layouts_base_body_bottom %>
		<footer class="footer">
			<div class="container">
				<a href="http://www.wellcome.ac.uk/"> <div id="wellcomelogo"></div> </a>
				<ul class="footer-links">
					<li>
						<a href="/about.html">About</a>
					</li>
					<li>
						<a href="/guides.html">Guides</a>
					</li>
					<li>
						<a href="/themes.html">Research Themes</a>
					</li>
				</ul>
				</p>Open Source Brain &#169; 2013. All rights reserved. Website powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %></p>
			</div>
		</footer>

	</body>
</html>

<script>




jQuery(function()
{	
	<% if @project!=nil %>
		var geturl=getParameterByName('explorer');
		if(geturl!='')
		{
			jQuery("#projectbody").hide();
			open3DExplorer(geturl);
		}
		else
		{
			if(<%= @neuroml2files.empty? %>) {
				disableOSBExplorer();
				jQuery("#osbexplorermessage").html("The current project doesn't contain any NeuroML2 file. Help converting this model to be able to use OSB 3D Explorer or raise an issue to do so!");
			}
			else if(<%= (@repourl and @repourl["https://github"]==nil)==true%>) {
				disableOSBExplorer();
				jQuery("#osbexplorermessage").html("Sorry, OSB 3D Explorer is currently available only for repositories hosted on GitHub.");
			}
			else if (!Detector.webgl) {
				disableOSBExplorer();
				jQuery("#osbexplorermessage").html("Sorry, your browser doesn\'t support <a href='http://khronos.org/webgl/wiki/Getting_a_WebGL_Implementation'>WebGL</a> which is required to use OSB 3D Explorer.");
			}
		}
	<% end %>
})
</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<%= javascript_include_tag('prettify.js') %>
